// Animations

@keyframes search-search-open {
  0%, 47%, 56%, 63%, 72%, 91% {
    opacity: 1;
  }
  48%, 55%, 64%, 71%, 92%, 100% {
    opacity: 0;
  }
}

@keyframes search-search-mid {
  48%, 51%, 64%, 67%, 92%, 95% {
    opacity: 1;
  }
  0%, 47%, 52%, 63%, 68%, 91%, 96%, 100% {
    opacity: 0;
  }
}

@keyframes search-search-closed {
  52%, 55%, 68%, 71%, 96%, 100% {
    opacity: 1;
  }
  0%, 51%, 56%, 67%, 72%, 95% {
    opacity: 0;
  }
}

// 4  8  12 16 20 24 28 32 36 40 44 48 52 56 60 64 68 72 76 80 84 88 92 96 100
// 0  0  0  0  0  0  0  0  0  0  0  /  -  0  0  /  -  0  0  0  0  0  /  -  -