// Variables

// Colors
$colors: (
  white: #ffffff,
  gray-light: #f8f8f8,
  gray: #dae3df,
  gray-mid: #a3acad,
  gray-dark: #8d9394,
  black: #333333,
  blue: #1a2d94,
  blue-sky: #42b5e3,
  blue-light: #1733e7,
  blue-dark: #1e305e,
  gold: #b78d5a,
  teal: #80d6a9,
  mint: #bfe2d1,
  red: #e24444
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

// Breakpoints
$breakpoint-sm: 520px;
$breakpoint-md: 768px;
$breakpoint-lg: 900px;
$breakpoint-nav: 1100px;
$breakpoint-xl: 1346px;

// Padding/spacing
$beat: 10px;
$padding-sm: 30px;
$padding-md: $padding-sm * 2;
$padding-lg: $padding-sm * 4;

// Site Wrapper
$sitewrapper: 1380px + ($padding-lg * 2);

// Header Heights
$header-sm: 60px;
$header-md: 84px;

// Transitions
$slide-easing: cubic-bezier(0.65, 0, 0.35, 1);
$image-easing: cubic-bezier(0, 0.5, 0.5, 1);