<header id="site-header" class="site-header" role="banner">
  <div class="-inner">
    <div class="-top site-wrapper">
      <h1 class="logo"><a href="/"><svg class="icon icon-logo" aria-hidden="true" role="presentation"><use xlink:href="#logo"/></svg></a></h1>
    </div>
    <nav id="site-nav" class="site-nav" role="navigation">
      <ul class="primary-nav">
        {% for navItem in site.data.navigation.primaryNav %}
          <li {% if page.url contains navItem.path %} class="-current" {% endif %}>
            <a href="{{ navItem.path }}" class="nav-parent-label" data-active-toggle>{{ navItem.title }} <svg class="icon icon-arrow-down" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow-down"/></svg></a>
            {% if navItem.children %}
              <ul class="nav-sub-level">
                {% for childItem in navItem.children %}
                  <li {% if page.url == childItem.path %} class="-current" {% endif %}>
                    <a href="{{ childItem.path }}">{{ childItem.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>

      <ul class="secondary-nav">
        {% for navItem in site.data.navigation.secondaryNav %}
          <li {% if page.url contains navItem.path %} class="current" {% endif %}>
            <a href="{{ navItem.path }}" class="nav-parent-label" data-active-toggle>{{ navItem.title }} <svg class="icon icon-arrow-down" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow-down"/></svg></a>
            {% if navItem.children %}
              <ul class="nav-sub-level">
                {% for childItem in navItem.children %}
                  <li {% if page.url == childItem.path %} class="current" {% endif %}>
                    <a href="{{ childItem.path }}">{{ childItem.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>

      <div class="nav-search">
        {% include searchform.html %}
      </div>
    </nav>
  </div>
</header>