<header id="site-header" class="site-header" role="banner">
  <div class="-inner">
    <div class="-top site-wrapper">
      <h1 class="logo"><a href="/"><svg class="icon icon-logo" aria-hidden="true" role="presentation"><use xlink:href="#logo"/></svg></a></h1>
    </div>
    <nav id="site-nav" class="site-nav" role="navigation">
      <ul id="primary-nav" class="primary-nav">
        {% for navItem in site.data.navigation.primaryNav %}
          <li class="top-level{% if page.url contains navItem.path %} -current{% endif %}">
            <h4 class="nav-parent-label" data-active-toggle>{{ navItem.title }} <svg class="icon icon-arrow-down" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow-down"/></svg></h4>
            {% if navItem.children %}
              <ul class="nav-sub-level">
                {% for childItem in navItem.children %}
                  <li class="nav-{{ childItem.title | slugify }}{% if page.url == childItem.path %} -current{% endif %}">
                    <a href="{{ childItem.path }}"><span>{{ childItem.title }}</span></a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>

      <div class="nav-utility-container">
        <a href="/process/request-an-expert" class="request-an-expert button hollow">Request An Expert</a>
      </div>

      <ul id="secondary-nav" class="secondary-nav">
        <div class="-inner">
          <div class="secondary-nav-search">
            {% include searchform.html %}
          </div>

          {% for navItem in site.data.navigation.secondaryNav %}
            <li class="top-level {% if page.url contains navItem.path %} -current{% endif %}">
              <h4 class="nav-parent-label" data-active-toggle>{{ navItem.title }} <svg class="icon icon-arrow-down" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow-down"/></svg></h4>
              {% if navItem.children %}
                <ul class="nav-sub-level">
                  {% for childItem in navItem.children %}
                    <li class="nav-{{ childItem.title | slugify }}{% if page.url == childItem.path %} -current{% endif %}">
                      <a href="{{ childItem.path }}"><span>{{ childItem.title }}</span></a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}

          <button class="search-toggle"><svg class="icon icon-search" aria-hidden="true" role="presentation"><use xlink:href="#icon-search"/></svg></button>
        </div>
      </ul>

      <div class="nav-search">
        {% include searchform.html %}
      </div>
    </nav>
  </div>
</header>