<div class="section meet-tei-section padded-bottom">
  <div class="site-wrapper">
    <h3 class="section-label">Meet The Expert Institute</h3>
    <div class="section-content">
      <div class="carousel carousel-fadein">
        <article class="team-member">
          <a href="/news/meet-raphael-ventura">
            <div class="member-image" style="background-image:url('/dist/images/meet-tei/raphael.jpg');"></div>
            <h3 class="member-name">Raphael Ventura</h3>
            <h4 class="member-title">Vice President of Business Development</h4>
          </a>
        </article>
        <article class="team-member">
          <a href="/news/meet-lindsey-witmer">
            <div class="member-image" style="background-image:url('/dist/images/meet-tei/lindsey.jpg');"></div>
            <h3 class="member-name">Lindsey Witmer</h3>
            <h4 class="member-title">Market Response Representative</h4>
          </a>
        </article>
        <article class="team-member">
          <a href="/news/meet-justin-reisch">
            <div class="member-image" style="background-image:url('/dist/images/meet-tei/justin.jpg');"></div>
            <h3 class="member-name">Justin Reisch</h3>
            <h4 class="member-title">Senior Digital Strategist</h4>
          </a>
        </article>
        <article class="team-member">
          <a href="/news/meet-michael-talve">
            <div class="member-image" style="background-image:url('/dist/images/meet-tei/michael.jpg');"></div>
            <h3 class="member-name">Michael Talve</h3>
            <h4 class="member-title">CEO/Managing Director</h4>
          </a>
        </article>
        <article class="team-member">
          <a href="/news/meet-dr-faiza-jibril">
            <div class="member-image" style="background-image:url('/dist/images/meet-tei/faiza.jpg');"></div>
            <h3 class="member-name">Dr. Faiza Jibril</h3>
            <h4 class="member-title">Vice President of Sales</h4>
          </a>
        </article>
        <article class="team-member">
          <a href="/news/meet-dave-glynn">
            <div class="member-image" style="background-image:url('/dist/images/meet-tei/dave.jpg');"></div>
            <h3 class="member-name">Dave Glynn</h3>
            <h4 class="member-title">Vice President of Sales</h4>
          </a>
        </article>
      </div>
    </div>
  </div>
</div>