<div class="section meet-tei-section padded-bottom">
  <div class="site-wrapper">
    <h3 class="section-label">Meet The Expert Institute</h3>
    <div class="section-content">
      <div class="carousel carousel-fadein">
        <article class="team-member">
          <a href="/news/meet-raphael-ventura">
            <div class="member-image" style="background-image:url('/dist/images/meet-tei/raphael.jpg');"></div>
            <h3 class="member-name">Raphael Ventura</h3>
            <h4 class="member-title">Vice President of Business Development</h4>
          </a>
        </article>
        <article class="team-member">
          <a href="/news/meet-dr-wendy-ketner">
            <div class="member-image" style="background-image:url('/dist/images/meet-tei/wendy.jpg');"></div>
            <h3 class="member-name">Dr. Wendy Ketner</h3>
            <h4 class="member-title">Senior Vice President of Medical Research</h4>
          </a>
        </article>
        <article class="team-member">
          <a href="/news/meet-daryl-barker">
            <div class="member-image" style="background-image:url('/dist/images/meet-tei/daryl.jpg');"></div>
            <h3 class="member-name">Daryl Barker </h3>
            <h4 class="member-title">Multidisciplinary Research Associate</h4>
          </a>
        </article>
        <article class="team-member">
          <a href="/news/meet-chelsea-mcmullen">
            <div class="member-image" style="background-image:url('/dist/images/meet-tei/chelsea.jpg');"></div>
            <h3 class="member-name">Chelsea McMullen</h3>
            <h4 class="member-title">Market Response Representative</h4>
          </a>
        </article>
        <article class="team-member">
          <a href="/news/meet-lindsey-witmerl">
            <div class="member-image" style="background-image:url('/dist/images/meet-tei/lindsey.jpg');"></div>
            <h3 class="member-name">Lindsey Witmer</h3>
            <h4 class="member-title">Director of Mid-Market Sales</h4>
          </a>
        </article>
        <article class="team-member">
          <a href="/news/meet-justin-reisch">
            <div class="member-image" style="background-image:url('/dist/images/meet-tei/justin.jpg');"></div>
            <h3 class="member-name">Justin Reisch</h3>
            <h4 class="member-title">Senior Digital Strategist</h4>
          </a>
        </article>
        <article class="team-member">
          <a href="/news/meet-jaser-rollins">
            <div class="member-image" style="background-image:url('/dist/images/meet-tei/jaser.jpg');"></div>
            <h3 class="member-name">Jaser Rollins</h3>
            <h4 class="member-title">Sales Development Representative</h4>
          </a>
        </article>
      </div>
    </div>
  </div>
</div>