<div class="page-header angled parallax-image-container{% if include.color %} -{{ include.color }}{% endif %}{% if include.caption-text %} with-caption{% endif %}">
  <div class="overflow-wrap">
    <div class="header-background parallax-image" style="background-image:url('{{ include.image-url }}');"></div>
  {% if include.caption-text %}
    <div class="header-caption-background"></div>
  {% endif %}
    <div class="site-wrapper grid">
      {% if include.caption-text %}
        <div class="header-caption">
        {% if include.caption-image %}
          <div class="caption-image">
            <img src="{{ include.caption-image }}" alt="">
          </div>
        {% endif %}
          {{ include.caption-text %}}
        </div>
      {% endif %}
      <div class="header-text">
        <div class="-inner">
          <h3 class="subtitle">{% if include.subtitle %}{{ include.subtitle }}{% else %}{{ page.title }}{% endif %}</h3>
          <h1 class="title">{{ include.headline }}</h1>
          <p>{{ include.description }}</p>
          {% if include.cta %}
            <p class="section-cta">{{ include.cta }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% if include.after-shape %}
  <div class="after-shape"></div>
{% endif %}
</div>