<div class="section showcase-section parallax-image-container -{{ include.color }}">
    <div class="section-background parallax-image" style="background-image:url('{{ include.image-path }}');"></div>
    <div class="-inner grid">
        <div class="section-content">
            <h1 class="block-title animate-in">{{ include.title }}</h1>
            <p class="animate-in">{{ include.description }}</p>
            <p class="block-cta animate-in"><a href="{{ include.page-path }}" class="button">{{ include.button-text }}</a></p>
        </div>
    </div>
</div>