<div class="section block-testimonials block">
  <div class="site-wrapper">
    <h3 class="section-label">Testimonials</h3>
    <div class="section-content">
      <div class="carousel carousel-fadein{% if include.carousel-style %} {{ include.carousel-style }}{% endif %}">
        <blockquote class="testimonial">
          <div class="-inner">
            <p>Expert Institute helps me tackle some of my most difficult cases. They quickly respond to my inquiries and schedule appointments to accommodate my deadlines.</p>
            <footer class="quote-citation">
              <div class="testimonial-image"><img src="/dist/images/avatar.jpg" alt="Portrait of Terry Garmey"></div>
              <cite><span class="name">Terry Garmey, Esq.,</span> <span class="business">Terry Garmey & Associates</span></cite>
            </footer>
          </div>
        </blockquote>
        <blockquote class="testimonial">
          <div class="-inner">
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <footer class="quote-citation">
              <div class="testimonial-image"><img src="/dist/images/avatar.jpg" alt="Portrait of Terry Garmey"></div>
              <cite><span class="name">Terry Garmey, Esq.,</span> <span class="business">Terry Garmey & Associates</span></cite>
            </footer>
          </div>
        </blockquote>
        <blockquote class="testimonial">
          <div class="-inner">
            <p>Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
            <footer class="quote-citation">
              <div class="testimonial-image"><img src="/dist/images/avatar.jpg" alt="Portrait of Terry Garmey"></div>
              <cite><span class="name">Terry Garmey, Esq.,</span> <span class="business">Terry Garmey & Associates</span></cite>
            </footer>
          </div>
        </blockquote>
        <blockquote class="testimonial">
          <div class="-inner">
            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod..</p>
            <footer class="quote-citation">
              <div class="testimonial-image"><img src="/dist/images/avatar.jpg" alt="Portrait of Terry Garmey"></div>
              <cite><span class="name">Terry Garmey, Esq.,</span> <span class="business">Terry Garmey & Associates</span></cite>
            </footer>
          </div>
        </blockquote>
      </div>
    </div>
    <p class="block-cta align-center"><a href="/results/measurable-impact" class="button -gold">Our Impact</a></p>
  </div>
</div>