// Article Styles
//
// common article styles

// Article + Card List Styles
@mixin article-card-styles {
  &-meta {
    display: flex;
    padding-bottom: 5px;
    justify-content: space-between;
    border-bottom: 1px solid color(blue-light);

    h5 {
      margin: 0;
      @include h3-simple;

      &.card-date {
        color: color(blue-light);
        padding-right: $padding-sm / 2;
      }
      &.card-tag {
        text-align: right;
        padding-left: $padding-sm / 2;

        &,
        a {
          color: color(gray-mid);
        }

        a {
          &:hover,
          &:focus {
            color: color(blue-light);
          }
        }
      }
    }
  }

  &-title {
    @include p2;
    margin: 33px 0 46px;

    @include media-lg {
      @include paragraph-style(24, 30);
    }

    @include media-xl {
      @include paragraph-style(36, 42);
    }

    a {
      text-decoration: none;
      &.-hover,
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &-body {
    z-index: 1;
    position: relative;
  }

  &-text {
    margin-bottom: 67px;

    p {
      margin: 0;

      + p {
        margin-top: 1em;
      }
    }
  }

  &-cta {
    z-index: 1;
    flex-grow: 1;
    display: flex;
    position: relative;
    align-items: flex-end;

    .button {
      @include media-lg {
        @include button-small;
      }
      @include media-xl {
        @include button-regular;
      }
    }
  }
}