// Bios

.bio-grid {
  @extend .grid;
  @extend .grid.spaced;
  margin-top: $padding-md;

  @include media-md {
    margin-top: $padding-lg;
  }

  .bio {
    height: 180px;
    margin-bottom: 42px;

    a {
      display: flex;
      position: relative;
      align-items: center;
      text-decoration: none;

      &:hover,
      &.-hover {
        z-index: 1;
        .bio-name {
          color: color(blue-light);
        }
      }
    }

    .bio-image {
      @include circular-image($padding-lg);
      transition: transform .2s $image-easing;
    }

    .bio-text {
      margin-left: $padding-sm;

      > * {
        margin: 0;
        font-weight: normal;
      }
    }

    .bio-name {
      @include p1;
    }

    .bio-title {
      @include h3-simple;
      color: color(gray-dark);
    }

    .bio-department {
      @include h3-simple;
    }

    .bio-contact {
      display: none;
      margin-top: 26px;
      color: color(gray-dark);

      p {
        margin: 0;
        @include p1-small;
      }
    }

    @include media-sm {
      height: 200px;
      display: flex;
      align-items: center;
    }

    @include media-md {
      a {
        &:hover,
        &.-hover {
          .bio-image {
            transform: scale(1.25);
          }
        }
      }

      .bio-text {
        margin-left: $padding-md;
      }
    }
  }
}