// Blocks

// Glboal Block Elements
.block-title {
  @include h1;
  margin: 0 0 $padding-sm;

  @include media-md {
    margin-bottom: $padding-md - 16px;
  }
}

// Block classes used for common block styles,
// with specific block- classes for indivudual blocks
.block {

  // Centered text block
  &-centered-text {

    .section-content {
      margin: 0 auto;
      padding: 96px 0;
      max-width: 660px;
      text-align: center;

      + .accordions {
        margin-bottom: 96px;
        margin-top: -$padding-md;
      }

      + .section-content {
        padding-top: 0;
      }
    }

    &.-wide {
      .section-content {
        max-width: 948px;
      }
    }

    p {
      margin: 30px 0 0;
      color: color(gray-dark);
      @include ginto-normal-light;
    }

    ul {
      text-align: left;
      @include list-style;
      color: color(gray-dark);

      li {
        margin-bottom: $padding-sm / 2;
      }
    }

    .accordions {
      max-width: 1020px;
      margin-left: auto;
      margin-right: auto;
      margin-top: $padding-md;

      .accordion-list + .accordion-list {
        margin-top: -1px;
      }
    }

    @include media-md {
      .section-content {
        margin: 0 auto;
        padding: 296px 0;

        ul.two-column {
          columns: 2;
        }

        + .section-content,
        + .accordions {
          padding-top: 0;
          margin-top: -116px;
        }

        + .accordions {
          margin-bottom: 296px;
        }
      }

      p {
        margin: 52px #{columns(2,23)} 0;
      }

      .accordions {
        margin-top: $padding-lg;

        .accordion-list + .accordion-list {
          margin-top: 0;
        }
      }
    }

    @include media-lg {
      .accordions {
        .col-md-1-2 {
          padding-right: columns(3,34);

          + .col-md-1-2 {
            padding-right: $padding-sm;
            padding-left: columns(3,34);
          }
        }
      }
    }
  }

  &-stats {
    .stat {
      text-align: center;
      margin-bottom: $padding-md;

      .figure {
        @include h1;
        margin: 0 0 $padding-sm;
      }

      p {
        color: color(gray-dark);
        @include ginto-normal-light;
      }

      @include media-lg {
        &[class*=col-] {
          padding: 0 $padding-md;
        }

        .figure {
          margin-bottom: 48px;
          @include paragraph-style(90,90);
        }
      }
    }
  }

  &-testimonials {
    padding-bottom: 90px;

    .section-label {
      margin-bottom: 0;
    }

    .section-content {
      overflow: hidden;
    }

    .carousel {
      padding: $padding-sm 0 42px;
      margin-bottom: $padding-md;

      .flickity-page-dots {
        .dot {
          border-color: color(gold);
          background-color: color(white);
          &.is-selected {
            background-color: color(gold);
          }
        }
      }
    }

    .testimonial {
      margin: 0;
      width: 100%;

      > .-inner {
        margin: 0 auto;
        max-width: 660px;
      }

      p {
        margin: 0;
        @include p2;
        padding-top: 26px;
        position: relative;
        &::before {
          content: '“';
          height: 24px;
          display: block;
          font-size: 90px;
          line-height: 24px;
          color: color(gold);
          position: relative;
          @include font-display;
        }
      }

      footer {
        display: flex;
        align-items: center;
        margin-top: $padding-sm;
      }

      .testimonial-image {
        overflow: hidden;
        position: relative;
        border-radius: 50%;
        width: $padding-md;
        height: $padding-md;

        img {
          top: 0;
          left: 50%;
          width: auto;
          min-width: 100%;
          min-height: 100%;
          position: absolute;
          transform: translateX(-50%);
        }
      }

      cite {
        font-style: normal;
        margin-left: $padding-sm;

        span {
          display: block;
        }

        .name {
          color: color(gold);
        }

        .business {
          @include h3-simple;
        }
      }
    }

    @include media-md {
      padding-bottom: 210px;

      .carousel {
        padding: $padding-lg 0 0;
        margin-bottom: $padding-lg;

        .flickity-page-dots {
          left: 50%;
          bottom: 39px;
          max-width: 660px;
          text-align: right;
          transform: translateX(-50%);
        }
      }

      .testimonial {
        p {
          padding-top: 0;
          &::before {
            top: 36px;
            right: 100%;
            position: absolute;
            margin-right: $padding-md;
          }
        }

        footer {
          margin-top: 50px;
        }

        .testimonial-photo {
          width: 90px;
          height: 90px;
          min-width: 90px;
        }
      }
    }

    // Two-up
    .carousel.two-up {

      @include media-md {
        padding-bottom: 100px;
        margin-left: -#{columns(1.5,23)};
        width: calc(100% + #{columns(3,23)});

        .flickity-page-dots {
          bottom: 0;
          max-width: none;
          text-align: center;
        }

        .testimonial {
          width: 50%;
          padding: 0 columns(1.5,26);

          p {
            padding-top: 24px;
            &::before {
              top: 0;
              right: auto;
              margin-right: 0;
              position: relative;
            }
          }
        }
      }
    }
  }
}

// Post Carousels
.post-carousel {
  margin: $padding-md 0;

  + .post-content {
    z-index: 1;
    position: relative;
  }

  .flickity-viewport {
    height: 0;
    opacity: 0;
    overflow: visible;
    padding-bottom: 66.6666%;
    transition: height .2s ease-out, opacity .4s ease-out;
  }

  &.layout-ready {
    .flickity-viewport {
      opacity: 1;
      padding-bottom: 0;
    }
  }

  figure {
    width: 100%;
    display: table;
    margin: 0 #{$padding-sm / 4};

    &.portrait,
    &.square {
      .image {
        position: relative;
        &::after {
          left: 0;
          bottom: 0;
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          pointer-events: none;
          transition: opacity .2s ease-out;
          background-position: 0 0;
        }
      }
    }

    &.portrait .image::after {
      background-image: linear-gradient(to top, color(white) 50%, rgba(color(white),0) 60%, rgba(color(white),0));
    }
    &.square .image::after {
      background-image: linear-gradient(to top, color(white) 33%, rgba(color(white),0) 43%, rgba(color(white),0));
    }

    .image {
      min-width: 100%;
      max-width: 1020px;
    }

    img {
      max-width: 100%;
      vertical-align: top;
      display: inline-block;
    }

    figcaption {
      opacity: 0;
      margin-top: 34px;
      max-width: 1020px;
      @include h3-simple;
      caption-side: bottom;
      display: table-caption;
      color: color(gray-dark);
      transition: opacity .2s ease-out;
    }

    &.is-selected {
      .image {
        height: auto;
        overflow: visible;
        padding-bottom: 0;

        &::after {
          opacity: 0;
        }
      }
      figcaption {
        opacity: 1;
      }
    }
  }

  @include media-md {
    margin: 90px 0 100px;

    figure {
      width: auto;
      margin: 0 columns(.5,27);

      &.landscape {
        width: 100%;
        .image {
          padding-bottom: 66.6666%;
        }
      }

      &.portrait {
        width: 50%;
        .image {
          padding-bottom: 133.3333%;
          &::after {
            display: none;
          }
        }
      }

      &.square {
        width: 66.6666%;
        .image {
          padding-bottom: 100%;
          &::after {
            display: none;
          }
        }
      }

      .image {
        min-width: 1px;
      }

      img {
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
      }
    }
  }
}