// Buttons

.button {
  @extend .button-reset;
  @include p1;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  color: color(white);
  border-radius: 24px;
  display: inline-block;
  text-decoration: none;
  padding: 9px 18px 11px;
  text-transform: capitalize;
  border: 1px solid color(blue-light);
  background-color: color(blue-light);

  &.-hover,
  &:hover,
  &:focus {
    color: color(blue-light);
    background-color: transparent;

    svg {
      fill: color(blue-light);
    }
  }

  @include media-md {
    line-height: 1;
    padding: 12px 30px 16px;
  }

  // Buttons with icons
  .button-icon {
    float: left;
    fill: color(white);
    transform: translateY(50%);
    margin: -3px 24px -6px -10px;

    &.-right {
      float: right;
      margin-left: 24px;
      margin-right: -10px;
    }

    // Arrow Icons
    // commonly used
    &.icon-arrow-right,
    &.icon-arrow-left {
      width: 8px;
      height: 13px;
    }
  }

  // Buttons with circular icons
  .button-icon-container {
    float: left;
    width: 24px;
    height: 24px;
    display: flex;
    border-radius: 50%;
    margin: -3px 24px -6px -10px;
    background-color: color(white);

    &.-right {
      float: right;
      margin-left: 24px;
      margin-right: -10px;
    }

    svg {
      margin: auto;
      fill: color(blue-light);

      &.icon-play {
        width: 9px;
        right: -1px;
        height: 12px;
        position: relative;
      }
    }

    @include media-md {
      margin-top: -1px;
      margin-left: -18px;

      &.-right {
        margin-left: 24px;
        margin-right: -18px;
      }
    }
  }

  // Hollow play icon
  > .icon-play-hollow {
    width: 24px;
    height: 24px;
    margin-right: 24px;
    fill: color(white);
    margin: -2px 24px -6px -10px;

    @include media-md {
      margin-top: -1px;
      margin-left: -18px;
    }
  }

  // Style Variations
  // Full-width
  &.-full {
    width: 100%;
  }
  &.-large {
    padding-left: $padding-sm;
    padding-right: $padding-sm;
    @include media-md {
      padding-left: $padding-md;
      padding-right: $padding-md;
    }
  }
  &.-small {
    font-size: 16px;
    padding: 6px 16px 10px;
  }
  &.-circular {
    width: 36px;
    height: 36px;
    padding: 12px;
    position: relative;

    .button-icon {
      top: 50%;
      left: 50%;
      margin: 0;
      float: none;
      position: absolute;
      transform: translate(-50%, -50%);
    }

    @include media-md {
      width: 48px;
      height: 48px;
    }
  }

  // Color Variations
  @each $color, $value in $colors {
    &.-#{$color} {
      border-color: $value;
      background-color: $value;

      .button-icon-container {
        background-color: $value;
      }

      &.-hover,
      &:hover,
      &:focus {
        color: $value;
        background-color: transparent;
        svg {
          fill: $value;
        }
      }

      &.hollow {
        &.-hover,
        &:hover,
        &:focus {
          color: color(white);
          svg {
            fill: color(white);
          }
        }
      }
    }
  }

  &.-teal {
    color: color(blue-dark);
    svg {
      fill: color(blue-dark);
    }
  }
  &.-gold {
    color: color(white);
  }

  // Hollow
  &.hollow {
    border: 1px solid;
    color: color(blue-light);
    background-color: transparent;

    svg {
      fill: color(blue-light);
    }

    &.-hover,
    &:hover,
    &:focus {
      color: color(white);
      border-color: color(blue-light);
      background-color: color(blue-light);

      svg {
        fill: color(white);
      }
    }

    @each $color, $value in $colors {
      &.-#{$color} {
        color: $value;

        svg {
          fill: $value;
        }
      }
    }
  }
}

// Button size mixins
@mixin button-full {
  width: 100%;
}
@mixin button-small {
  font-size: 16px;
  padding: 6px 16px 10px;
}
@mixin button-regular {
  font-size: 18px;
  padding: 9px 18px 11px;
}