// Carousels
// adjustments made to flickity default styles

// Carousels to be faded in to hide FOUC
.carousel-fadein {
  .flickity-viewport {
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}

.flickity-page-dots {
  bottom: 0;

  .dot {
    opacity: 1;
    width: 12px;
    height: 12px;
    margin: 0 6px;
    background: none;
    border: 1px solid color(blue-light);

    &.is-selected {
      background-color: color(blue-light);
    }
  }
}

.carousel,
.carousel-header {
  .flickity-viewport {
    transition: height .2s ease-out;
  }
}

// Logo Carousel
.logo-carousel {
  padding: $padding-sm 0;
  margin: 0 0 $padding-md;

  .flickity-slider {
    display: flex;
    align-items: center;
  }

  .flickity-page-dots {
    top: 100%;
  }

  .logo {
    padding: 0 $padding-sm;
  }

  a {
    display: block;
  }

  img {
    width: auto;
    max-width: 180px;
    vertical-align: top;
  }

  @include media-md {
    padding: $padding-lg 0;
    margin: 0 0 $padding-md;

    .flickity-page-dots {
      top: auto;
      bottom: 20px;
    }
  }
}