// Card Styles

.card-grid {
  @extend .grid;
  @extend .spaced;
  margin-bottom: -$padding-sm;

  @include media-md {
    margin-bottom: -$padding-md;
  }
}

.card {
  margin-bottom: $padding-sm;

  > .-inner {
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    padding: $padding-sm;
    flex-direction: column;
    background-color: color(gray-light);
  }

  @include media-md {
    margin-bottom: $padding-md;

    > .-inner {
      padding: 44px $padding-md $padding-md;
    }
  }

  &-header {
    z-index: 1;
    position: relative;
  }

  @include article-card-styles;

  // Card with Image Variation
  &.with-image {
    > .-inner {
      padding-bottom: $padding-lg;
      &:hover {
        .card-image .image {
          transform: scale3d(1.1,1.1,1);
        }
      }
    }


    @include media-md {
      > .-inner {
        padding-bottom: $padding-md;
      }

      .card-title {
        padding-right: 20%;
      }
      .card-body {
        padding-right: 35%;
      }
    }
  }

  &-image {
    left: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: $padding-lg + 19px;

    .image {
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      position: absolute;
      background-size: 100% auto;
      transform-origin: center center;
      background-position: center center;
      transition: transform .5s $image-easing;
    }

    &::after {
      top: 0;
      left: 0;
      width: 100%;
      content: '';
      position: absolute;
      bottom: $padding-sm;
      background-image: linear-gradient(to right bottom, color(gray-light) 0%, color(gray-light) 50%, transparent 50%);
    }

    @include media-md {
      top: 72px;
      right: 0;
      left: auto;
      width: 55%;
      height: auto;

      .image {
        background-size: auto 100%;
      }

      &::after {
        bottom: 0;
      }
    }
  }
}