// Carousels
// adjustments made to flickity default styles

.carousel,
.carousel-header {
  .flickity-viewport {
    transition: height .2s ease-out;
  }

  .flickity-page-dots {
    bottom: 0;

    .dot {
      opacity: 1;
      width: 12px;
      height: 12px;
      margin: 0 6px;
      background: none;
      border: 1px solid color(blue-light);

      &.is-selected {
        background-color: color(blue-light);
      }
    }
  }
}

// Carousels to be faded in to hide FOUC
.carousel-fadein {
  .flickity-viewport {
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}