// Card Styles

.card-grid {
  @extend .grid;
  @extend .spaced;
  margin-bottom: -$padding-sm;

  @include media-md {
    margin-bottom: -$padding-md;
  }
}

.card {
  margin-bottom: $padding-sm;

  > .-inner {
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    padding: $padding-sm;
    flex-direction: column;
    background-color: color(gray-light);
  }

  //Colors
  @each $color, $value in $colors {
    &.-#{$color} {
      > .-inner {
        background-color: $value;
      }

      .card-image::after {
        background-image: linear-gradient(to right bottom, $value 0%, $value 50%, transparent 50%);
      }
    }
  }

  &.-gold,
  &.-blue-dark {
    color: color(white);
  }

  @include media-md {
    margin-bottom: $padding-md;

    > .-inner {
      padding: 44px $padding-md $padding-md;
    }
  }

  &-header {
    z-index: 1;
    position: relative;
  }

  // Card Header Tags/Categories
  &-header-tags {
    @extend .semantic-list;
    margin-bottom: $padding-sm;

    &,
    h5 {
      @include h3-simple;
    }

    h5 {
      margin: 0;
      display: inline-block;
      color: color(gray-dark);
    }

    li {
      display: inline;

      a {
        color: color(blue-light);
      }
    }
  }


  // Card Title
  &-title {
    @include p2;
    margin: 33px 0 46px;

    a {
      text-decoration: none;
      &.-hover,
      &:hover,
      &:focus {
        background-image: linear-gradient(to top,transparent 2px, color(blue-dark) 2px, color(blue-dark) 4px,transparent 0);
      }
    }

    @include media-md {
      a {
        &.-hover,
        &:hover,
        &:focus {
          background-image: linear-gradient(to top,transparent 3px, color(blue-dark) 3px, color(blue-dark) 5px,transparent 0);
        }
      }
    }

    @include media-lg {
      @include paragraph-style(24, 30);
    }

    @include media-xl {
      @include paragraph-style(36, 42);
    }
  }

  // Card Body
  &-body {
    z-index: 1;
    position: relative;
  }

  // Card Text
  &-text {
    margin-bottom: 67px;

    p {
      margin: 0;

      + p {
        margin-top: 1em;
      }
    }
  }

  // Card CTA
  &-cta {
    z-index: 1;
    flex-grow: 1;
    display: flex;
    position: relative;
    align-items: flex-end;

    .button {
      @include media-lg {
        @include button-small;
      }
      @include media-xl {
        @include button-regular;
      }
    }
  }

  // Card with Image Variation
  &.with-image {
    > .-inner {
      padding-bottom: $padding-lg;
      &:hover {
        .card-image .image {
          transform: scale3d(1.1,1.1,1);
        }
      }
    }


    @include media-md {
      > .-inner {
        padding-bottom: $padding-md;
      }

      .card-title {
        padding-right: 20%;
      }
      .card-body {
        padding-right: 35%;
      }
    }
  }

  &-image {
    left: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: $padding-lg + 19px;

    .image {
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      position: absolute;
      background-size: 100% auto;
      transform-origin: center center;
      background-position: center center;
      transition: transform .5s $image-easing;
    }

    &::after {
      top: 0;
      left: 0;
      width: 100%;
      content: '';
      position: absolute;
      bottom: $padding-sm;
      background-image: linear-gradient(to right bottom, color(gray-light) 0%, color(gray-light) 50%, transparent 50%);
    }

    @include media-md {
      top: 72px;
      right: 0;
      left: auto;
      width: 55%;
      height: auto;

      .image {
        background-size: cover;
      }

      &::after {
        bottom: 0;
      }
    }
  }

  // Showcase Card Variation (https://d.pr/i/D0OvJ8)
  &.showcase-card {
    &:not(.with-image) {
      text-align: center;

      .card-cta a {
        margin: 0 auto;
      }
    }

    .card-title {
      @include h2;
    }

    @include media-md {
      .card-image {
        top: 0;
        &::after {
          width: auto;
          right: $padding-md;
        }
      }
    }
  }
}