// Carousels
// adjustments made to flickity default styles

.carousel {
  .flickity-page-dots {
    bottom: 0;

    .dot {
      opacity: 1;
      width: 12px;
      height: 12px;
      background: none;
      border: 1px solid color(blue-light);

      &.is-selected {
        background-color: color(blue-light);
      }
    }
  }
}