// Common
//
// Styles and micro components used in various contexts

// Header Meta
// used in cards and in article headers
.header-meta {
  display: flex;
  @include h3-simple;
  padding-bottom: 5px;
  color: color(gray-dark);
  justify-content: space-between;
  border-bottom: 1px solid color(blue-light);


  > * {
    margin: 0;
    @include h3-simple;
    color: color(blue-light);

    &.date {
      padding-right: $padding-sm / 2;
    }
    &.tag {
      text-align: right;
      padding-left: $padding-sm / 2;

      &,
      a {
        color: color(gray-mid);
      }

      a {
        &:hover,
        &:focus {
          color: color(blue-light);
        }
      }
    }
  }
}

// Animate on scroll classes
.animate-in,
.animation-item {
  opacity: 0;
  transform: translate3d(0,50px,0);
  transition: opacity 1s ease-out, transform .5s ease-out;

  &.in-view {
    opacity: 1;
    transform: none;
  }
}

.animate-out {
  opacity: 1;
  transition: opacity 1s ease-out, transform .5s ease-out;

  &.out-of-view {
    opacity: 0;
    transform: translate3d(0,-50px,0);
  }
}

// Animate-in-series animates in individual elements in series
// when the container scrolls into view
.animate-in-series {
  &.in-view {
    .animation-item {
      opacity: 1;
      transform: none;
    }
  }
}