// Common
//
// Styles and micro components used in various contexts

// Header Meta
// used in cards and in article headers
.header-meta {
  display: flex;
  @include h3-simple;
  padding-bottom: 5px;
  color: color(gray-dark);
  justify-content: space-between;
  border-bottom: 1px solid color(blue-light);

  > * {
    margin: 0;
    @include h3-simple;
    color: color(blue-light);

    .label {
      color: color(gray-dark);
    }

    &.date {
      padding-right: $padding-sm / 2;
    }
    &.tag {
      text-align: right;
      padding-left: $padding-sm / 2;

      &,
      a {
        color: color(gray-mid);
      }

      a {
        &:hover,
        &:focus {
          color: color(blue-light);
        }
      }
    }
  }
}

// Circular Bio Image
@mixin circular-image($size: 180px) {
  width: 100%;
  max-width: $size;
  overflow: hidden;
  position: relative;
  border-radius: 50%;

  > div {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center center;
  }
}

// Quote Citation
@mixin quote-citation($image-size: 90px) {
  display: flex;
  align-items: center;

  .testimonial-image {
    @include circular-image($image-size);
  }

  cite {
    font-style: normal;
    margin-left: $padding-sm;

    span {
      display: block;
    }

    .name {
      color: color(gold);
    }

    .business {
      @include h3-simple;
    }
  }
}
.quote-citation {
  @include quote-citation;
}

// Stylized opening quote
@mixin open-quote($color: color(gold)) {
  position: relative;
  &::before {
    content: '“';
    height: 24px;
    color: $color;
    display: block;
    font-size: 90px;
    line-height: 24px;
    position: relative;
    @include font-display;
  }
}

// Animate on scroll classes
.animate-in,
.animation-item {
  opacity: 0;
  transform: translate3d(0,50px,0);
  transition: opacity 1s ease-out, transform .5s ease-out;

  &.in-view {
    opacity: 1;
    transform: none;
  }
}

.animate-out {
  opacity: 1;
  transition: opacity 1s ease-out, transform .5s ease-out;

  &.out-of-view {
    opacity: 0;
    transform: translate3d(0,-50px,0);
  }
}

// Animate-in-series animates in individual elements in series
// when the container scrolls into view
.animate-in-series {
  &.in-view {
    .animation-item {
      opacity: 1;
      transform: none;
    }
  }
}

// Global Margin Classes
@mixin margin-classes {
  &.margin-bottom {
    margin-bottom: 24px;
  }
  &.margin-bottom-md {
    margin-bottom: $padding-sm;
  }
  &.margin-bottom-lg {
    margin-bottom: $padding-md;
  }
  &.margin-top {
    margin-top: 24px;
  }
  &.margin-top-md {
    margin-top: $padding-sm;
  }
  &.margin-top-lg {
    margin-top: $padding-md;
  }

  @include media-md {
    &.margin-bottom {
      margin-bottom: 42px;
    }
    &.margin-bottom-md {
      margin-bottom: $padding-md;
    }
    &.margin-bottom-lg {
      margin-bottom: $padding-lg;
    }
    &.margin-top {
      margin-top: 42px;
    }
    &.margin-top-md {
      margin-top: $padding-md;
    }
    &.margin-top-lg {
      margin-top: $padding-lg;
    }
  }
}