// Forms

form {
  position: relative;

  .input-wrap {
    position: relative;
    &.-focus,
    &.-filled {
      label {
        top: 1px  ;
        font-size: 12px;
        color: color(blue-light);
      }
    }

    label {
      top: 13px;
      left: 20px;
      right: 20px;
      position: absolute;
      pointer-events: none;
      background-color: color(white);
    }

    .error-message {
      @include p1-small;
      margin: 0;
      color: color(red);
      font-size: 12px;
      padding-left: 20px;
      position: relative;
    }

    + .input-wrap {
      margin-top: 12px;
    }

    // Error styles
    &.error {
      label {
        color: color(red);
      }
      input {
        border-color: color(red);
      }
    }
  }

  input,
  textarea,
  select {
    @extend .input-reset;
    @include p1;
    width: 100%;
    height: 48px;
    border-radius: 6px;
    padding: 10px 20px 0;
    color: color(blue-dark);
    border: 1px solid transparent;
    background-color: color(white);

    &:focus,
    &:active {
      border-color: color(blue-light);
    }

    &.error {
      border-color: color(red);
    }
  }

  // Textareas
  .textarea-wrap {
    label {
      right: 20px;
      background-color: color(white);
    }
  }

  textarea {
    max-width: 100%;
    min-width: 100%;
    padding-top: 16px;
    min-height: 126px;

    &.no-resize {
      resize: none;
    }
  }

  p {
    margin: 24px 0;
  }

  // Outline variation
  &.-outlined {
    input,
    textarea,
    select {
      border-color: color(gray);

      &:focus,
      &:active {
        border-color: color(blue-light);
      }

      &.error {
        border-color: color(red);
      }
    }
  }

  // Radios and Checkboxes
  .radio-wrap,
  .checkbox-wrap {
    position: relative;

    + .radio-wrap,
    + .checkbox-wrap,
    + .input-wrap {
      margin-top: 18px;
    }
  }

  input[type=radio],
  input[type=checkbox] {
    @extend .visuallyhidden;

    &:checked {
      + label::after {
        display: block;
      }
    }

    &:focus {
      + label {
        border: 1px dashed color(blue-light);
      }
    }

    + label {
      cursor: pointer;
      margin-left: -4px;
      border-radius: 4px;
      padding: 4px 4px 4px 40px;
      border: 1px dashed transparent;

      &::before,
      &::after {
        content: '';
        border-radius: 50%;
        position: absolute;
      }
      &::before {
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        border: 1px solid color(blue-light);
      }
      &::after {
        top: 6px;
        left: 6px;
        width: 12px;
        height: 12px;
        display: none;
        background-color: color(blue-light);
      }
    }
  }

  // Custom select style
  .select-wrap {
    margin: 0;
    padding: 0;
    position: relative;
    @extend .input-wrap;
    &::after {
      top: 50%;
      right: 18px;
      content: '';
      width: 6px;
      height: 12px;
      position: absolute;
      pointer-events: none;
      background: url("../svgs/select-arrow.svg") no-repeat center center;
      background-size: 6px 12px;
      transform: translateY(-50%);
    }

    label {
      z-index: 1;
      opacity: 0;
      padding: 0 2px;
      &::before {
        left: 0;
        top: 8px;
        z-index: -1;
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        background-color: color(white);
      }
    }

    select {
      padding-bottom: 10px;
      &:focus {
        outline: none;
      }

      // Hide arrows in IE
      &::-ms-value {
        color: color(blue-dark);
        background-color: color(white);
      }
      &::-ms-expand {
        display: none;
      }
    }

    &.-filled,
    &.-focus,
    &:focus {
      select {
        padding-bottom: 0;
      }
      label {
        opacity: 1;
      }
    }
  }

  button.submit {
    margin-top: 60px;
  }
}

// Insights Filters
.insights-filters {
  [class*='col-'] {
    margin-bottom: $padding-sm;

    @include media-md {
      margin-bottom: 0;
      padding-right: $padding-md / 2;

      &:last-of-type {
        padding-right: 0;
        padding-left: $padding-md / 2;
      }
    }
  }
}

// Multi-step forms
form.multi-step {
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;

  .flickity-page-dots {
    bottom: 114px;

    .dot {
      border-color: color(teal);
      &.is-selected {
        background-color: color(teal);
      }
    }
  }

  .step-status {
    @include h3-simple;
  }

  .form-step {
    opacity: 0;
    width: 100%;
    transition: opacity .3s 0s ease-out;

    &.is-selected {
      opacity: 1;
      transition: opacity .3s .3s ease-out;
    }
  }

  .step-label {
    @include h2-small;
    text-align: center;
    margin: 0 0 $padding-md;
  }

  .form-cta {
    margin-top: 114px;
    text-align: center;
    position: relative;

    button {
      cursor: pointer;

      &.form-previous {
        left: 0;
        position: absolute;
      }

      &.submit {
        margin-top: 0;
      }

      svg {
        width: 8px;
        height: 13px;
      }
    }
  }
}

// Get Engaged Form
form.get-engaged {
  max-width: 540px;
  border-radius: 24px;
  margin: $padding-md auto 0;
  background-color: color(gray-light);
  padding: $padding-lg #{$padding-md - 4px} $padding-md;

  .step-status {
    margin: 0;
    top: $padding-md;
    left: $padding-md;
    position: absolute;
    color: color(blue-light);
  }

  .form-step {
    padding: 0 4px;
  }

  .flickity-page-dots {
    width: auto;
    bottom: auto;
    top: $padding-md;
    right: $padding-md;

    .dot {
      border-color: color(blue-light);
      &.is-selected {
        background-color: color(blue-light);
      }
    }
  }

  p {
    text-align: left;
  }

  .form-cta {
    margin-top: $padding-md;
  }

  .form-advance {
    .button-icon {
      background-color: transparent;
      svg {
        fill: color(white);
      }
    }

    &:hover,
    &:focus {
      .button-icon {
        svg {
          fill: color(blue-light);
        }
      }
    }
  }
}