// Header

.site-header {
  top: 0;
  z-index: 10;
  width: 100%;
  position: fixed;
  height: $header-sm;
  background-color: color(white);

  @include media-nav {
    height: $header-md;
  }

  > .-inner {
    height: 100%;
    position: relative;

    .-top {
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: flex;
      position: absolute;
      align-items: center;
      background-color: color(white);
    }

    @include media-nav {
      display: flex;
      margin: 0 auto;
      padding: 0 $padding-lg;
      max-width: $sitewrapper;

      .-top {
        margin: 0;
        padding: 0;
        position: relative;
        width: columns(7,17);
      }
    }
  }

  .logo {
    margin: 0;
    line-height: 18px;
    display: inline-block;

    a {
      vertical-align: top;
      display: inline-block;
    }

    svg {
      height: 18px;
      width: 182px;
      display: block;
      fill: color(blue-light);
    }

    @include media-nav {
      line-height: 24px;

      svg {
        height: 24px;
        width: 243px;
      }
    }
  }

  // Mobile Nav Toggle
  .mobile-nav-toggle {
    top: 50%;
    right: $padding-sm;
    position: absolute;
    transform: translateY(-50%);

    @include media-nav {
      display: none;
    }
  }

  .site-nav {
    left: 0;
    top: 100%;
    opacity: 0;
    width: 100%;
    display: flex;
    overflow: auto;
    padding: 36px 0;
    position: absolute;
    flex-direction: column;
    background: color(white);
    transform: translateY(-120%);
    height: calc(100vh - #{$header-sm});
    transition: transform .25s $slide-easing, opacity 0s ease-out .26s;
    &.-active {
      opacity: 1;
      transform: translateY(0);
      transition: transform .25s $slide-easing, opacity 0s ease-out 0s;
    }

    @include media-nav {
      top: 0;
      opacity: 1;
      padding: 0;
      width: 100%;
      display: flex;
      transform: none;
      overflow: initial;
      height: $header-md;
      position: relative;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    ul {
      @extend .semantic-list;

      .nav-sub-level {
        display: none;
        padding: 22px 50px;
        background-color: color(gray);

        a {
          @include paragraph-style(18, 48);
        }
      }
    }

    a {
      display: block;
      text-decoration: none;
    }

    .nav-parent-label {
      display: flex;
      padding: 10px $padding-sm;
      justify-content: space-between;
      .icon-arrow-down {
        width: 14px;
        height: 7px;
        align-self: center;
        transition: transform .2s ease-out;
      }
      &.-active {
        .icon-arrow-down {
          transform: rotate(180deg);
        }
      }
    }

    .primary-nav {
      // Parent Items
      .nav-parent-label {
        color: color(blue-light);
        @include paragraph-style(24, 30);

        .icon-arrow-down {
          fill: color(blue-light)
        }
      }

      @include media-nav {
        display: flex;

        li {
          position: relative;
          + li {
            margin-left: $padding-sm;
          }
          &:hover {
            .icon {
              opacity: 1;
            }
            .nav-sub-level {
              display: block;
            }
          }
        }

        .nav-parent-label {
          @include paragraph-style(18, 24);
          padding: 0 2px;
          height: $header-md;
          position: relative;
          line-height: $header-md;
          color: color(blue-dark);

          .icon {
            left: 50%;
            bottom: 0;
            opacity: 0;
            position: absolute;
            transform: translateX(-50%) rotate(180deg);
          }
        }

        // Sub-menu
        .nav-sub-level {
          position: absolute;
        }
      }
    }

    // Nav Utility Container
    // Holds Request an expert button and secondary nav toggle
    .nav-utility-container {
      display: flex;
      align-items: center;
    }

    // Request an expert button
    .request-an-expert {
      display: none;
      padding: 7px 16px 9px;

      @include media-nav {
        display: block;
      }
    }

    // Secondary Nav Toggle
    .secondary-nav-toggle {
      display: none;

      @include media-nav {
        display: block;
        margin-left: $padding-sm;
      }
    }

    .secondary-nav {
      margin: 56px 0 0;

      .nav-parent-label {
        color: color(gray-dark);
        font-family: 'Ginto Nord', serif;
        @include paragraph-style(12, 24, 0, normal, uppercase);

        .icon-arrow-down {
          fill: color(gray-dark);
        }
      }

      @include media-nav {
        right: 0;
        top: 100%;
        margin: 0;
        opacity: 0;
        position: absolute;
        pointer-events: none;
        transform: translateY(-100%);

        &.-active {
          opacity: 1;
          pointer-events: auto;
          transform: translateY(0);
        }

        .nav-parent-label {
          @include paragraph-style(13, 24, 0, normal, uppercase);
        }
      }
    }


    .nav-search {
      flex-grow: 1;
      display: flex;
      align-items: flex-end;
      padding: 36px $padding-sm 0;

      form {
        width: 100%;
      }

      @include media-nav {
        display: none;
      }
    }
  }

  // Nav Toggle
  .nav-toggle {
    @extend .button-reset;
    padding: 0;
    width: 24px;
    height: 14px;
    cursor: pointer;

    svg {
      display: block;
      overflow: visible;
    }

    .line {
      fill: color(blue-dark);
      transition: transform .2s ease-out;

      &.top {
        transition-delay: .08s;
        &.left {
          transform-origin: top left;
        }
        &.right {
          transform-origin: top right;
        }
      }

      &.middle {
        transform-origin: center center;
        transition-delay: .1s;
      }

      &.bottom {
        transition-delay: .08s;
        &.left {
          transform-origin: bottom left;
        }
        &.right {
          transform-origin: bottom right;
        }
      }
    }

    &.-active {

      .line {
        &.top {
          transition-delay: .08s;
          &.left {
            transform: rotate(45deg) translate(2px, -5px);
          }
          &.right {
            transform: rotate(-45deg) translate(-1px, -4px);
          }
        }
        &.bottom {
          transition-delay: .08s;
          &.left {
            transform: rotate(-45deg) translate(2px, 5px);
          }
          &.right {
            transform: rotate(45deg) translate(-1px, 4px);
          }
        }

        &.middle {
          transform: scaleX(0);
          transition-delay: .0s;
        }
      }
    }
  }
}