// Header

.site-header {
  top: 0;
  z-index: 10;
  width: 100%;
  position: fixed;
  height: $header-sm;
  background-color: color(white);

  @include media-nav {
    height: $header-md;
  }

  > .-inner {
    height: 100%;
    position: relative;

    .-top {
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: flex;
      position: absolute;
      align-items: center;
      background-color: color(white);
    }
  }

  .logo {
    margin: 0;
    line-height: 18px;
    display: inline-block;

    a {
      vertical-align: top;
      display: inline-block;
    }

    svg {
      height: 18px;
      width: 182px;
      display: block;
      fill: color(blue-light);
    }

    @include media-nav {
      line-height: 24px;

      svg {
        height: 24px;
        width: 243px;
      }
    }
  }

  .site-nav {
    left: 0;
    top: 100%;
    opacity: 0;
    width: 100%;
    display: flex;
    overflow: auto;
    padding: 36px 0;
    position: absolute;
    flex-direction: column;
    background: color(white);
    transform: translateY(-120%);
    height: calc(100vh - #{$header-sm});
    transition: transform .25s $slide-easing, opacity 0s ease-out .26s;
    &.-active {
      opacity: 1;
      transform: translateY(0);
      transition: transform .25s $slide-easing, opacity 0s ease-out 0s;
    }

    ul {
      @extend .semantic-list;

      .nav-sub-level {
        display: none;
        padding: 22px 50px;
        background-color: color(gray);

        a {
          @include paragraph-style(18, 48);
        }
      }
    }

    a {
      display: block;
      text-decoration: none;
    }

    .nav-parent-label {
      display: flex;
      padding: 10px $padding-sm;
      justify-content: space-between;
      .icon-arrow-down {
        width: 14px;
        height: 7px;
        align-self: center;
        transition: transform .2s ease-out;
      }
      &.-active {
        .icon-arrow-down {
          transform: rotate(180deg);
        }
      }
    }

    .primary-nav {
      // Parent Items
      .nav-parent-label {
        color: color(blue-light);
        @include paragraph-style(24, 30);

        .icon-arrow-down {
          fill: color(blue-light)
        }

        @include media-nav {
          color: color(blue-dark);
          @include paragraph-style(18, 24);
        }
      }
    }

    .secondary-nav {
      margin: 56px 0 0;

      .nav-parent-label {
        color: color(gray-dark);
        font-family: 'Ginto Nord', serif;
        @include paragraph-style(12, 24, 0, normal, uppercase);

        .icon-arrow-down {
          fill: color(gray-dark);
        }

        @include media-nav {
          @include paragraph-style(13, 24, 0, normal, uppercase);
        }
      }
    }


    .nav-search {
      flex-grow: 1;
      display: flex;
      align-items: flex-end;
      padding: 36px $padding-sm 0;

      form {
        width: 100%;
      }
    }

    @include media-nav {
      display: block;
    }
  }

  // Nav Toggle
  .nav-toggle {
    @extend .button-reset;
    top: 50%;
    padding: 0;
    width: 24px;
    height: 14px;
    cursor: pointer;
    right: $padding-sm;
    position: absolute;
    transform: translateY(-50%);

    svg {
      display: block;
      overflow: visible;
    }

    .line {
      fill: color(blue-dark);
      transition: transform .2s ease-out;

      &.top {
        &.left {
          transform-origin: top left;
        }
        &.right {
          transform-origin: top right;
        }
      }
      &.middle {
        transform-origin: center center;
      }
      &.bottom {
        &.left {
          transform-origin: bottom left;
        }
        &.right {
          transform-origin: bottom right;
        }
      }
    }

    &.-active {

      .line {
        &.top {
          &.left {
            transform: rotate(45deg) translate(2px, -5px);
          }
          &.right {
            transform: rotate(-45deg) translate(-1px, -4px);
          }
        }
        &.bottom {
          &.left {
            transform: rotate(-45deg) translate(2px, 5px);
          }
          &.right {
            transform: rotate(45deg) translate(-1px, 4px);
          }
        }

        &.middle {
          transform: scaleX(0);
        }
      }
    }

    @include media-nav {
      right: $padding-md;
    }
  }
}