// Modules
//
// Inidividual modules styled independent of where they appear

// Item Showcase Module (https://d.pr/i/nGdIbe)
.module-item-showcase {
  @extend .grid;
  @extend .grid.spaced;
  text-align: center;

  .item {
    margin-bottom: $padding-md;

    &.col-md-1-2 {
      @include media-md {
        > .-inner {
          margin: 0 auto;
          max-width: 360px;
        }
      }
    }
  }

  .item-image,
  .item-title {
    margin: 0 auto $padding-sm;
  }

  .item-image {
    width: 100%;
    padding: 0 $padding-sm;

    img {
      margin: 0;
      width: 100%;
      max-width: 110px;
    }
  }

  .item-title {
    @include h2;
  }

  .item-text {
    margin: 0;
    color: color(gray-dark);
    @include ginto-normal-light;
  }

  .item-cta {
    margin: $padding-sm auto 0;
  }

  @include media-md {
    .item {
      display: flex;
      margin-bottom: 144px;
      flex-direction: column;
    }

    .item-image {
      height: 0;
      position: relative;
      padding-bottom: 50%;

      img {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
      }
    }

    .item-title {
      margin-bottom: $padding-md;
    }

    .item-title {
      @include paragraph-style(36,42);
    }

    .item-cta {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      margin-top: $padding-md;
      justify-content: flex-end;
    }
  }
}