// Page Styles
//
// common page elements, such as page headers (and variations)

.page-header {
  overflow: hidden;
  position: relative;
  background-color: color(white);

  // With Swoop (https://d.pr/i/ii1084)
  &.swooped,
  &.carousel-header {
    margin-bottom: $padding-md;

    .header-background {
      height: 230px;
      position: relative;
      background-size: cover;
      background-position: center center;
      &::before {
        left: 0;
        bottom: 0;
        top: 50px;
        z-index: 1;
        width: 100%;
        content: '';
        position: absolute;
        background-image: linear-gradient(to right top, color(white) 0%, color(white) 50%, transparent 50%);
      }
    }

    @include media-lg {
      margin-bottom: $padding-lg;

      .header-background {
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        max-width: columns(15,23);
        flex-basis: columns(15,23);
        &::before {
          display: none;
        }
      }

      .header-swoop {
        max-width: columns(15,23);
        flex-basis: columns(15,23);
        margin-right: -#{columns(1,23)};

        &::after {
          top: 0;
          bottom: 0;
          left: 100%;
          content: '';
          position: absolute;
          width: columns(8,15);
          background-color: color(white);
        }
      }

      .header-text {
        z-index: 1;
        position: relative;
        padding-top: 200px;
        max-width: columns(9,23);
        flex-basis: columns(9,23);

        .-inner {
          background-color: color(white);
        }
      }
    }
  }

  &.carousel-header {
    .image-carousel {
      .image {
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        position: absolute;
        background-size: cover;
        background-position: center center;
      }
    }

    .text-carousel {
      .flickity-viewport {
        z-index: 1;
      }
    }

    .header-article {
      width: 100%;
    }

    .flickity-page-dots {
      z-index: 1;
      top: -50px;
      bottom: auto;
      text-align: left;
    }

    @include media-lg {
      .flickity-page-dots {
        right: 0;
        top: auto;
        bottom: 0;
        z-index: 0;
        text-align: center;
        width: columns(23,9);
      }
    }
  }


  .header-swoop {
    position: relative;

    .swoop {
      right: 0;
      bottom: -1px;
      height: 100%;
      position: absolute;
      fill: color(white);
    }
  }

  .header-article {
    @include article-card-styles;

    &-title {
      @include h2;

      a {
        &.-hover,
        &:hover,
        &:focus {
          background-image: linear-gradient(to top,transparent 6px, color(blue-dark) 6px, color(blue-dark) 8px,transparent 0);

          @include media-md {
            background-image: linear-gradient(to top,transparent 9px, color(blue-dark) 9px, color(blue-dark) 11px,transparent 0);

          }
        }
      }
    }
  }

}