// Page Headers
//
// there are many variations on page header styles, all contained here

// Page Header
.page-header {
  overflow: hidden;
  position: relative;
  background-color: color(white);

  // Header Text
  .header-text {
    p {
      margin: 0;
      color: color(gray-dark);
      @include ginto-normal-light;

      + p {
        margin-top: 1em;
      }
    }

    .author {
      display: flex;
      align-items: center;
      margin-top: $padding-sm;

      .author-photo {
        overflow: hidden;
        position: relative;
        border-radius: 50%;
        width: $padding-sm * 3;
        height: $padding-sm * 3;

        img {
          top: 0;
          left: 50%;
          width: auto;
          min-width: 100%;
          min-height: 100%;
          position: absolute;
          transform: translateX(-50%);
        }
      }

      .author-text {
        margin-left: $padding-sm;

        .author-label {
          margin: 0;
          @include h3-simple;
          color: color(blue-dark);
        }

        .author-name {
          margin: 0;
          font-weight: normal;

          a {
            text-decoration: none;
            color: color(blue-light);
            &:hover,
            &:focus {
              border-bottom: 1px solid;
            }
          }
        }
      }

      @include media-lg {
        margin-top: 140px;
        margin-bottom: 40px;
      }
    }
  }

  .title {
    @include h2;
    margin: 0 0 $padding-sm;

    a {
      text-decoration: none;
      &.-hover,
      &:hover,
      &:focus {
        background-image: linear-gradient(to top,transparent 6px, color(blue-dark) 6px, color(blue-dark) 8px,transparent 0);
      }
    }

    @include media-md {
      margin-bottom: $padding-md;
      padding-right: columns(1,9);

      a {
        &.-hover,
        &:hover,
        &:focus {
          background-image: linear-gradient(to top,transparent 9px, color(blue-dark) 9px, color(blue-dark) 11px,transparent 0);
        }
      }
    }
  }

  .subtitle {
    margin: 0;
    @include h3;
    color: color(blue-light);
  }

  // Centered (https://d.pr/i/kActXy)
  &.centered {
    text-align: center;
    padding: $padding-md 0;

    .header-text {
      margin: 0 auto;
      max-width: 660px;
    }

    .subtitle {
      border: none;
    }

    form {
      max-width: 420px;
      margin: 0 auto $padding-sm;
    }

    @include media-md {
      padding: 114px 0 180px;

      .title {
        margin-top: 52px;
        padding: 0 columns(1,11);
      }
    }

    // Compact Headers
    &.compact {
      padding: $padding-sm 0;

      .header-text {
        max-width: none;
      }

      @include media-md {
        padding: $padding-sm 0;
      }
    }
  }


  // With Swoop (https://d.pr/i/ii1084)
  // carousel headers share the same swoop styles
  &.swooped,
  &.carousel-header {
    margin-bottom: $padding-md;

    // Colors
    @each $color, $value in $colors {
      &.-#{$color} {
        .header-text {
          background-color: $value;
        }
        .header-swoop .swoop {
          fill: $value;
        }
      }
    }

    .header-background {
      height: 230px;
      position: relative;
      background-size: cover;
      background-position: top center;
      &::before {
        left: 0;
        bottom: 0;
        top: 50px;
        z-index: 1;
        width: 100%;
        content: '';
        position: absolute;
        background-image: linear-gradient(to right top, color(white) 0%, color(white) 50%, transparent 50%);
      }
    }

    .header-swoop {
      position: relative;

      .swoop {
        right: 0;
        bottom: -1px;
        height: 100%;
        position: absolute;
        fill: color(white);
      }
    }

    @include media-lg {
      margin-bottom: $padding-lg;

      .header-background {
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        max-width: columns(15,23);
        flex-basis: columns(15,23);
        background-position: center center;
        &::before {
          display: none;
        }
      }

      .header-swoop {
        max-width: columns(15,23);
        flex-basis: columns(15,23);
        margin-right: -#{columns(1,23)};

        &::after {
          top: 0;
          bottom: 0;
          left: 100%;
          content: '';
          position: absolute;
          width: columns(8,15);
          background-color: color(white);
        }
      }

      .header-text {
        z-index: 1;
        position: relative;
        padding-top: 200px;
        max-width: columns(9,23);
        flex-basis: columns(9,23);
      }
    }

    // And right-sided swooped headers
    &.-right {
      .header-text {
        .header-meta {
          margin-bottom: $padding-sm;
        }
      }

      @include media-lg {
        margin-bottom: 0;

        .header-background {
          right: 0;
          left: auto;
        }

        .header-swoop {
          order: 1;
          max-width: columns(13,23);
          flex-basis: columns(13,23);

          &::after {
            left: auto;
            right: 100%;
            width: columns(11,15);
          }

          .swoop {
            left: -1px;
            right: auto;
            transform: scaleX(-1);
          }
        }

        .header-text {
          order: 0;
          padding-top: 120px;
          max-width: columns(11, 23);
          flex-basis: columns(11, 23);
          margin-right: -#{columns(2,23)};

          .header-meta {
            margin-bottom: 86px;
            margin-right: columns(2,11);
          }

          .title {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  // Just swooped headers (without carousels)
  &.swooped {
    @include media-md {
      .header-text {
        min-height: 600px;
        padding-bottom: $padding-lg;
      }

      &,
      &.-right {
        .header-text {
          .title {
            margin-bottom: 40px;
          }
        }
      }
    }
  }

  // Page headers with carousels
  &.carousel-header {
    .image-carousel {
      .image {
        top: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        width: 100%;
        position: absolute;
        background-size: cover;
        background-position: center center;

        &.is-selected {
          opacity: 1;
        }
      }
    }

    .text-carousel {
      .flickity-viewport {
        z-index: 1;
      }
    }

    .header-article {
      width: 100%;

      .-inner {
        opacity: 0;
        transition: opacity .75s ease-out;
      }

      &.is-selected {
        .-inner {
          opacity: 1;
          transition: opacity .75s .25s ease-out;
        }
      }
    }

    .flickity-page-dots {
      z-index: 1;
      top: -50px;
      bottom: auto;
      text-align: left;
    }

    @include media-lg {
      .text-carousel {
        min-height: 800px;
      }

      .flickity-page-dots {
        right: 0;
        top: auto;
        bottom: 0;
        z-index: 0;
        text-align: center;
        width: columns(23,9);
      }

      // Right-aligned image
      &.-right {
        .flickity-page-dots {
          left: 0;
          right: auto;
          width: columns(23,11);
        }
      }
    }
  }

  // Angled Page Headers (https://d.pr/i/p1LHmy)
  &.angled {

    // Colors
    @each $color, $value in $colors {
      &.-#{$color} {
        background-color: $value;

        .header-background::before {
          background-image: linear-gradient(to right top, $value 0%, $value 50%, transparent 50%);
        }

        .header-caption-background {
          background-color: lighten($value,30%);
        }

        .header-text {
          .subtitle,
          p {
            color: color(blue-dark);
          }
          .title {
            color: color(white);
          }
          &::after {
            background-color: $value;
          }
        }

        .after-shape::before {
          background-color: lighten($value,30%);
        }

        + .section {
          .section-label {
            color: color(blue-dark);
          }
        }
      }
    }

    .header-background {
      height: 230px;
      position: relative;
      background-size: cover;
      background-color: color(gray);
      background-position: center top;
      &::before {
        left: 0;
        bottom: 0;
        top: 50px;
        z-index: 1;
        width: 100%;
        content: '';
        position: absolute;
        background-image: linear-gradient(to right top, color(white) 0%, color(white) 50%, transparent 50%);
      }
    }

    // Header with Caption
    &.with-caption {
      .after-shape::before {
        background-color: color(gray-light);
      }
    }
    .header-caption-background {
      right: 0;
      bottom: 0;
      width: 50%;
      height: 197px;
      display: none;
      position: absolute;
      background-color: color(gray-light);

      @include media-md {
        display: block;
      }
    }
    .header-caption {
      bottom: 0;
      z-index: 1;
      width: auto;
      display: none;
      flex-basis: auto;
      text-align: right;
      position: absolute;

      .caption-image {
        display: inline-block;
        @include circular-image(120px);
      }

      .caption-title {
        @include p1;
        margin: 20px 0 0;
        color: color(blue-light);
      }

      p {
        @include h3-simple;
        margin: 2px 0 42px;
      }

      @include media-lg {
        display: block;
        right: $padding-md;
      }

      @include media-nav {
        right: $padding-lg;
      }
    }

    .header-text {
      padding: 0 0 $padding-sm;

      .title {
        margin-top: $padding-md;
      }

      .section-cta {
        margin-top: $padding-md;
      }
    }

    @include media-md {
      overflow: visible;

      + .section {
        .section-label {
          position: relative;
          transform: translateY(-100%);
        }

        &:not(.centered-text-section):not(.stats-section) {
          .section-content {
            padding-top: $padding-lg;
          }
        }
      }

      .overflow-wrap {
        overflow: hidden;
        position: relative;
      }

      .header-background {
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        height: 100%;
        position: absolute;
        background-position: center right;
        &::before {
          display: none;
        }
      }

      // Parallax images
      &.parallax-image-container {
        .header-background {
          height: 120%;
        }
      }

      .header-text {
        order: 0;
        max-width: 50%;
        flex-basis: 50%;
        position: relative;
        padding: $padding-lg columns(2,23) 174px 0;
        &::after {
          top: 0;
          left: 100%;
          content: '';
          width: 400%;
          height: 100%;
          position: absolute;
          transform: rotate(55deg);
          transform-origin: top left;
          background-color: color(white);
        }

        > .-inner {
          z-index: 1;
          position: relative;
        }

        .title {
          margin: 74px 0 40px;
        }
      }

      .after-shape {
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        position: absolute;
        &::before {
          top: 0;
          right: 50%;
          z-index: 1;
          width: 88%;
          content: '';
          height: 400%;
          position: absolute;
          transform-origin: top right;
          background-color: color(gray-light);
          transform: rotate(-35deg) translate(100%,30%);
        }
      }
    }
  }

  // Background videos
  .background-video {
    overflow: hidden;

    &::before {
      z-index: 1;
    }

    video {
      left: 0;
      width: 100%;
      height: auto;
      position: absolute;
    }

    @include media-md {
      video {
        left: 50%;
        width: auto;
        height: 100%;
        transform: translateX(-50%);
      }
    }
  }

  // Headers styled like the middle showcase sections,
  // with the elbows
  &.showcase-section {

    @include media-md {
      .section-content {
        padding-left: 0;
        padding-right: 0;
        max-width: columns(9,23);
        flex-basis: columns(9,23);
      }

      .section-background {
        width: columns(14,23);
      }
    }
  }

  // Header Articles
  // as appears as carousel items on the insights page
  .header-article {
    .header-meta {
      margin-bottom: $padding-sm;
    }

    .cta {
      margin-top: $padding-md;

      @include media-md {
        margin-top: $padding-md;
      }
    }
  }
}