// Pricing Tiers

.pricing-tiers {
  @extend .grid;
  @extend .grid.spaced;

  header {
    margin-bottom: $padding-sm;

    .title {
      margin: 0;
      @include h2;

      @include media-md {
        @include paragraph-style(36,42);
      }
    }

    p {
      margin: 0;
      color: color(blue-light);
    }
  }

  p {
    margin: 0;
    color: color(gray-dark);
    @include ginto-normal-light;
  }

  .pricing-tier {
    > .-inner {
      border-radius: 12px;
      padding: $padding-sm;
      background-color: color(gray-light);
    }

    ul {
      @extend .semantic-list;
      margin-top: $padding-sm;

      li {
        border-top: 1px solid color(gray);

        &:last-of-type {
          border-bottom: 1px solid color(gray);
        }
      }
    }

    .cta {
      margin: $padding-md 0 0;
    }

    @include media-md {
      > .-inner {
        padding: $padding-md;
      }
    }
  }

}