// Search Form

.search-form {
  position: relative;

  .input-wrap {
    &.-focus,
    &.-filled {
      label {
        display: none;
      }

      + .submit {
        color: color(white);
        background-color: color(blue-light);

        .icon {
          fill: color(white);
        }
      }
    }

    label {
      top: 50%;
      left: 24px;
      position: absolute;
      color: color(gray-mid);
      transform: translateY(-50%);
    }
  }

  input {
    width: 100%;
    display: block;
    appearance: none;
    line-height: 48px;
    border-radius: 24px;
    padding: 0 48px 0 24px;
    color: color(blue-dark);
    background-color: transparent;
    border: 1px solid color(gray);

    &:focus {
      outline: none;
      background-color: color(white);
    }
  }

  .submit {
    top: 50%;
    right: 6px;
    width: 36px;
    padding: 4px;
    height: 36px;
    margin-top: 0;
    cursor: pointer;
    position: absolute;
    border-radius: 24px;
    @extend .button-reset;
    transform: translateY(-50%);
    background-color: transparent;
    .icon {
      width: 14px;
      height: 14px;
      fill: color(blue-dark);
    }

    .text {
      display: none;
    }
  }
}