// Sections

// The `section` class is inteded for distinct sections on the page,
// as apposed to `-block` classes that are used for individual modules
.section {
  position: relative;

  // Different padding variations
  &.padded {
    padding-top: $padding-sm;
    padding-bottom: $padding-sm;
  }
  &.padded-lg {
    padding-top: $padding-md;
    padding-bottom: $padding-md;
  }
  &.padded-top {
    padding-top: $padding-sm;
  }
  &.padded-top-lg {
    padding-top: $padding-md;
  }
  &.padded-bottom {
    padding-bottom: $padding-sm;
  }
  &.padded-bottom-lg {
    padding-bottom: $padding-lg;
  }

  // Sections with just a subtitle
  &.title-section {
    padding: $padding-sm 0;
    .section-label {
      margin: 0;
    }
  }

  @include media-md {
    &.padded {
      padding-top: $padding-md;
      padding-bottom: $padding-md;
    }
    &.padded-lg {
      padding-top: $padding-lg;
      padding-bottom: $padding-lg;
    }
    &.padded-top {
      padding-top: $padding-md;
    }
    &.padded-top-lg {
      padding-top: $padding-lg;
    }
    &.padded-bottom {
      padding-bottom: $padding-md;
    }
    &.padded-bottom-lg {
      padding-bottom: $padding-lg;
    }

    &.title-section {
      padding: $padding-md 0;
    }
  }

  // Color Swoop
  &.colored-swoop {

    //Colors
    @each $color, $value in $colors {
      &.-#{$color} {
        .swoop {
          &::after {
            background-color: $value;
          }
          svg {
            fill: $value;
          }
        }
      }
    }

    > .-inner {
      padding: 0;
    }

    .sub-title {
      z-index: 1;
      @include h3;
      position: relative;
      margin: 0 $padding-sm $padding-sm;
    }

    .text {
      z-index: 1;
      position: relative;
      @extend .col-md-1-2;
      padding: 0 $padding-sm;

      &.-left {
        padding-bottom: $padding-md;
      }

      &.-right {
        padding-top: $padding-sm;
        background-color: color(gray-light);

        &::before {
          left: 0;
          width: 100%;
          content: '';
          bottom: 100%;
          position: absolute;
          height: $padding-md;
          background-image: linear-gradient(to right top, color(gray-light) 0%, color(gray-light) 50%, transparent 50%);
        }
      }
    }

    .swoop {
      display: none;

      svg {
        height: 100%;
      }
    }

    @include media-md {
      > .-inner {
        padding: $padding-lg $padding-md 0;
      }

      .sub-title {
        margin: 0 0 $padding-sm * 3 0;
      }

      .swoop {
        bottom: 0;
        right: 50%;
        width: 100%;
        height: 100%;
        display: block;
        text-align: right;
        position: absolute;
        margin-right: -#{columns(2.5,23)};

        &::after {
          top: 0;
          bottom: 0;
          left: 100%;
          content: '';
          width: 100%;
          position: absolute;
        }
      }

      .text {
        padding-left: 0;
        padding-right: 0;

        &.-left {
          padding-bottom: 200px;
        }

        &.-right {
          padding-top: 0;
          &::before {
            display: none;
          }
        }
      }
    }

    @include media-nav {
      > .-inner {
        padding-left: $padding-lg;
        padding-right: $padding-lg;
      }

      .text {
        &.-left {
          padding-right: columns(4.5,23);
        }
        &.-right {
          padding: 0 columns(2,23) 0 columns(2.5,23);
        }
      }
    }
  }
}

// Glboal Section Elements

// Section Titles
.section-title {
  @include h1;
  margin: 0 0 $padding-sm;

  @include media-md {
    margin-bottom: $padding-md - 16px;
  }

  &-small {
    margin: 0;
    @include p2;
    text-align: center;
  }

  &,
  &-small {
    @include margin-classes;
  }
}

// Section Label
.section-label {
  margin: 0;
  @include h3;
  color: color(gray-mid);
  @include margin-classes;
}

// Section CTA
.section-cta {
  .button:first-of-type {
    margin-right: 24px;
    margin-bottom: $padding-sm;
  }

  .button + .button {
    margin-top: 0;
  }
}

// Section Video
.section-video {
  position: relative;

  .video-label {
    margin: 0 0 16px;
    @include h3-simple;
    color: color(gray-dark);
  }

  .video-still {
    margin: 0 auto;
    cursor: pointer;
    max-width: 1140px;
    position: relative;
    &::before {
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      content: '';
      position: absolute;
      mix-blend-mode: multiply;
      transition: background-color .2s ease-out;
      background-color: rgba(color(blue-dark),.51);
    }

    &.-hover,
    &:hover,
    &:focus {
      &::before {
        mix-blend-mode: normal;
        background-color: rgba(color(gray-light),.25);
      }
      .watch-video {
        color: color(blue-light);
        svg {
          fill: color(blue-light);
        }
      }
    }

    img {
      vertical-align: top;
    }

    .watch-video {
      top: 50%;
      left: 50%;
      z-index: 1;
      @include p2;
      display: flex;
      cursor: pointer;
      position: absolute;
      align-items: center;
      color: color(white);
      @extend .button-reset;
      transition: color .2s ease-out;
      transform: translate(-50%, -50%);

      svg {
        width: 36px;
        height: 36px;
        bottom: -2px;
        fill: color(white);
        margin-right: 16px;
        position: relative;
        transition: fill .2s ease-out;
      }
    }
  }

  @include media-lg {
    padding: 0 columns(2,23);
  }
}

// Centered Text Sections
.centered-text-section {

  .section-content {
    margin: 0 auto;
    padding: 96px 0;
    max-width: 660px;
    text-align: center;

    + .accordions {
      margin-bottom: 96px;
      margin-top: -$padding-md;
    }

    + .section-content {
      padding-top: 0;
    }
  }

  &.-wide {
    .section-content {
      max-width: 948px;
    }
  }

  p {
    margin: 30px 0 0;
    color: color(gray-dark);
    @include ginto-normal-light;
  }

  ul:not(.accordion-list) {
    text-align: left;
    @include list-style;
    color: color(gray-dark);

    li {
      margin-bottom: $padding-sm / 2;
    }
  }

  .accordions {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    margin-top: $padding-md;

    .accordion-list + .accordion-list {
      margin-top: -1px;
    }
  }

  @include media-md {
    .section-content {
      margin: 0 auto;
      padding: 296px 0;

      ul.two-column {
        columns: 2;
      }

      + .section-content,
      + .accordions,
      + .section-video {
        padding-top: 0;
        margin-top: -116px;
      }

      + .accordions {
        margin-bottom: 296px;
      }
    }

    p {
      margin: 52px #{columns(2,23)} 0;
    }

    .accordions {
      margin-top: $padding-lg;

      .accordion-list + .accordion-list {
        margin-top: 0;
      }
    }
  }

  @include media-lg {
    .accordions {
      .col-md-1-2 {
        padding-right: columns(3,34);

        + .col-md-1-2 {
          padding-right: $padding-sm;
          padding-left: columns(3,34);
        }
      }
    }
  }
}

// Stats Sections
.stats-section {
  .stat {
    text-align: center;
    margin-bottom: $padding-md;

    .figure {
      @include h1;
      margin: 0 0 $padding-sm;
    }

    p {
      color: color(gray-dark);
      @include ginto-normal-light;
    }

    @include media-lg {
      &[class*=col-] {
        padding: 0 $padding-md;
      }

      .figure {
        margin-bottom: 48px;
        @include paragraph-style(90,90);
      }
    }
  }

  // Centered Stat
  // https://d.pr/i/JIGrqt
  &.centered-stat {

    .section-content {
      position: relative;
      &::after {
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
        content: '';
        position: absolute;
        background-color: color(gray-dark);
      }
    }

    .stat {
      z-index: 1;
      margin: 96px auto;
      position: relative;
      background-color: color(white);
      max-width: calc(660px + #{columns(2,23)});

      .figure {
        margin: 0;
        padding: 0 columns(1,23);
      }

      p {
        margin: 0;
        @include h1;
        line-height: .9;
        color: color(blue-dark);

        &.-small {
          @include p1;
          margin-top: $padding-sm;
          color: color(gray-dark);
        }
      }

      @include media-md {
        margin-top: 296px;
        margin-bottom: 296px;

        p {
          line-height: .9;
          padding: 0 columns(2,23);
        }
      }

      @include media-lg {
        .figure {
          @include paragraph-style(114,118);
        }
      }
    }
  }

  + .centered-stat  .stat {
    margin-top: 28px;

    @include media-md {
      margin-top: 148px;
    }
  }
}

// Showcase sections
.showcase-section {
  overflow: hidden;
  position: relative;
  padding: $padding-md $padding-sm 228px;

  @each $color, $value in $colors {
    &.-#{$color} {
      background-color: $value;

      .section-background {
        background-color: lighten($value,5%);
        &::before {
          background-image: linear-gradient(to right bottom, $value 0%, $value 50%, transparent 50%);
        }
      }

      .section-content {
        color: color(white);
        background-color: $value;

        .section-elbow svg {
          fill: $value;
        }
      }

      // With Image
      &.with-image {
        // Middle sections get inverse section colored
        &.-middle {
          background-color: color(white);
          .section-background {
            background-color: $value;
            &::before {
              background-image: linear-gradient(to left bottom, color(white) 0%, color(white) 50%, $value 50%);
            }
          }

          @include media-md {
            &,
            .section-content {
              background-color: color(white);
            }
            .section-elbow svg {
              fill: color(white);
            }
          }
        }

        @include media-md {
          .section-content {
            background-color: $value;
          }
        }
      }

      // -middle showcase sections
      &.-middle {
        .section-background::before {
          background-image: linear-gradient(to left bottom, $value 0%, $value 50%, transparent 50%);
        }
      }
    }
  }

  // Teal Background sections get blue-dark text
  &.-teal,
  &.-blue-soft,
  &.-gold-soft,
  &.-mint,
  &.-gray,
  &.-gray-light,
  &.-blue-sky {
    .section-content {
      color: color(blue-dark);
    }
  }
  // Gold, and Blue Background sections get Ginto Normal Light for text
  &.-gold,
  &.-blue-sky,
  &.-blue-dark {
    .section-content p {
      @include ginto-normal-light;
    }
  }

  .section-background {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 230px;
    position: absolute;
    background-size: cover;
    &::before {
      top: 0;
      left: 0;
      width: 100%;
      content: '';
      bottom: 50px;
      position: absolute;
    }
  }

  .section-content {
    z-index: 1;
    position: relative;
    text-align: center;

    .block-title {
      @include h2;
    }

    .section-cta {
      margin: 42px 0 -42px;
    }
  }

  .section-elbow {
    display: none;
  }

  // With actual image instead of background image
  &.with-image {
    padding-bottom: 0;

    .section-content {
      background-color: transparent;

      .section-cta {
        margin-bottom: 0;

        .button + .button {
          margin-top: $padding-sm;
        }
      }
    }

    .section-image {
      z-index: 2;
      text-align: center;
      position: relative;
      padding: $padding-md;

      &.-vertical {
        padding-bottom: 0;
      }

      img {
        vertical-align: bottom;
      }
    }

    .section-background {
      bottom: 0;
      height: 400px;

      img {
        left: 0;
        top: 60%;
        z-index: 2;
        display: block;
        margin: 0 auto;
        max-width: 80%;
        position: relative;
        transform: translateY(-50%);
      }
    }
  }

  @include media-md {
    padding: 0;

    > .-inner {
      margin: 0 auto;
      padding: 0 $padding-md;
      max-width: $sitewrapper;
    }

    .section-background {
      top: 0;
      right: 0;
      left: auto;
      height: 100%;
      width: columns(1,2);
      background-position: center center;
      &::before {
        display: none;
      }
    }

    &.parallax-image-container {
      .section-background {
        height: 120%;
      }
    }

    .section-content {
      text-align: left;
      position: relative;
      max-width: columns(1,2);
      flex-basis: columns(1,2);
      padding: 180px #{columns(2.25,23)} 180px #{columns(2,23)};

      > * {
        z-index: 1;
        position: relative;
      }

      .section-elbow {
        top: 0;
        left: 100%;
        height: 100%;
        display: block;
        margin-left: -1px;
        position: absolute;
        .elbow {
          top: 0;
          left: 100%;
          height: 100%;
          position: absolute;
        }
      }

      .block-title {
        margin-bottom: 45px;
      }

      p {
        margin: 0;
      }

      .section-cta {
        margin: 100px 0 0;
      }
    }

    // With actual image instead of background image
    .section-image {
      display: flex;
      max-width: 50%;
      flex-basis: 50%;
      justify-content: flex-end;
      padding-right: columns(1.5,23);

      img {
        margin: auto;
      }

      &.-vertical {
        align-items: flex-end;

        img {
          margin: 0;
        }
      }
    }
    &.with-image {
      padding: 0;

      .section-background {
        height: 100%;
        img {
          top: 50%;
          left: $padding-md;
          position: absolute;
        }
      }

      // Vertical image with bottom-bleed
      &.-vertical {
        .section-background {
          display: flex;
          text-align: center;
          padding-top: $padding-md;
          img {
            top: auto;
            bottom: 0;
            left: auto;
            transform: none;
            position: relative;
          }
        }
      }
    }

    // Middle Section
    &.-middle {
      .section-image {
        padding-right: 0;
        justify-content: flex-start;
        padding-left: columns(1.5,23);
      }
      .section-background {
        img {
          left: auto;
          right: $padding-md;
        }
      }
    }

    // Top and bottom sections
    &.-top,
    &.-bottom {
      .section-background {
        left: 0;
      }
      .-inner {
        flex-direction: row-reverse;
      }
      .section-content {
        padding-right: columns(2,23);
        padding-left: columns(2.25,23);
      }
      .section-content::after {
        top: 0;
        content: '';
        right: 100%;
        width: 400%;
        height: 100%;
        position: absolute;
        background-color: inherit;
      }
    }

    // Regular Page Showcase Section
    &:not(.-top):not(.-middle):not(.-bottom):not(.page-header) {
      .section-content::after {
        bottom: 0;
        left: 100%;
        content: '';
        width: 400%;
        height: 100%;
        position: absolute;
        background-color: inherit;
        transform: rotate(-55deg);
        transform-origin: bottom left;
      }
    }

    // Top
    &.-top {
      .section-content::after {
        transform: rotate(55deg);
        transform-origin: bottom right;
      }
    }
    // Bottom
    &.-bottom {
      .section-content::after {
        transform: rotate(-55deg);
        transform-origin: top right;
      }
    }

    // Sections with an after shape that overlaps into
    // the next section (always on the -bottom section)
    &.with-after-shape {
      overflow: visible;

      .overflow-wrap {
        overflow: hidden;
        position: relative;
      }

      .after-shape {
        top: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        position: absolute;
        &::before {
          top: 0;
          left: 50%;
          z-index: 1;
          width: 88%;
          content: "";
          height: 400%;
          position: absolute;
          transform-origin: top left;
          background-color: color(gray);
          transform: rotate(35deg) translate(-100%, 30%);
        }

        @each $color, $value in $colors {
          &.-#{$color} {
            &::before {
              background-color: $value;
            }
          }
        }
      }
    }
  }

  @include media-lg {
    > .-inner {
      padding: 0 $padding-lg;
    }

    .section-background {
      img {
        left: $padding-lg;
      }
    }

    // With actual image instead of background image
    &.with-image {
      .section-background {
        img {
          left: $padding-lg;
        }
      }
    }

    // Middle Section
    &.-middle {
      .section-background {
        img {
          left: auto;
          right: $padding-lg;
        }
      }
    }
  }
}

// Expert Directory Section
.expert-directory-section {

  .section-label {
    margin-bottom: 0;
  }

  .section-content {
    padding: $padding-sm 0 96px;
  }

  .section-text {
    margin-bottom: 42px;

    p {
      margin: 0;

      + p {
        margin-top: $padding-sm;
      }
    }
  }

  form {
    display: flex;

    + form {
      margin-top: $padding-sm;
    }

    .select-wrap,
    .input-wrap {
      flex-grow: 1;
    }

    button {
      margin-left: $padding-sm;
    }
  }

  @include media-md {

    .section-content {
      padding: 102px 0 186px;

      > .col-md-1-2 {
        padding-right: columns(1.5,23);

        &:last-of-type {
          padding-right: 0;
          padding-left: columns(1.5,23);
        }
      }
    }

    .section-text {
      @include font-display;
      @include paragraph-style(36,42);

      p + p {
        margin-top: 48px;
      }
    }

    form {
      flex-wrap: wrap;

      + form {
        margin-top: 48px;
      }

      .select-wrap,
      .input-wrap {
        flex-basis: 100%;
      }

      button {
        margin-left: 0;
        margin-top: $padding-sm;
      }
    }
  }

  @include media-lg {
    form {
      .select-wrap,
      .input-wrap {
        flex-basis: auto;
      }

      button {
        margin-top: 0;
        margin-left: $padding-md;
      }
    }
  }
}

// Connect with an Expert Section
.expert-connect-section {
  background-color: color(blue-dark);

  .section-content {
    display: flex;
    align-items: center;
    color: color(white);
    margin-bottom: $padding-sm;
  }

  @include media-md {
    .section-content {
      margin-bottom: 0;
    }

    .section-form {
      padding: 0 columns(2,23);
    }
  }
}

// Meet The Expert Institute Section
// https://d.pr/i/6GZTZK
.meet-tei-section {

  .section-content {
    padding: $padding-md 0;
  }

  .carousel {
    margin-left: -$padding-sm;
    padding-bottom: $padding-md;
    width: calc(100% + #{$padding-md});
  }

  .flickity-page-dots {
    .dot {
      border-color: color(gold);
      &.is-selected {
        background-color: color(gold);
      }
    }
  }

  .team-member {
    width: 50%;
    padding: 0 $padding-sm;

    a {
      display: block;
      text-decoration: none;

      &:hover,
      &:focus {
        .member-image {
          border-radius: 50%;
          &::before {
            opacity: .2;
          }
        }
        .member-name {
          color: color(blue-light);
        }
      }
    }

    .member-image {
      height: 0;
      overflow: hidden;
      position: relative;
      margin-bottom: 20px;
      padding-bottom: 100%;
      background-size: cover;
      border-radius: 0 0 50% 0;
      background-position: top center;
      transition: border-radius .2s $slide-easing;
      &::before {
        top: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        content: '';
        width: 100%;
        position: absolute;
        mix-blend-mode: multiply;
        transition: opacity .2s ease-out;
        background-color: color(blue-dark);
      }
    }

    .member-name {
      margin: 0;
      @include p1;
      color: color(gold);
    }

    .member-title {
      margin: 0;
      @include h3-simple;
    }
  }

  @include media-md {
    .carousel {
      padding-bottom: $padding-lg;
    }
  }

  @include media-lg {
    .team-member {
      width: columns(1,3);
    }
  }
}