// Sections

// The `section` class is inteded for distinct sections on the page,
// as apposed to `-block` classes that are used for individual modules
.section {
  position: relative;

  // Different padding variations
  &.padded {
    padding-top: $padding-sm;
    padding-bottom: $padding-sm;
  }
  &.padded-top {
    padding-top: $padding-sm;
  }
  &.padded-bottom {
    padding-bottom: $padding-sm;
  }

  // Sections with just a subtitle
  &.title-section {
    padding: $padding-sm 0;
    .section-label {
      margin: 0;
    }
  }

  @include media-md {
    &.padded {
      padding-top: $padding-md;
      padding-bottom: $padding-md;
    }
    &.padded-top {
      padding-top: $padding-md;
    }
    &.padded-bottom {
      padding-bottom: $padding-md;
    }

    &.title-section {
      padding: $padding-md 0;
    }
  }
}

// Section Label
.section-label {
  @include h3;
  margin: 0 0 24px;
  color: color(gray-mid);

  @include media-md {
    margin-bottom: 42px;
  }
}

// Showcase sections
.showcase-section {
  overflow: hidden;
  position: relative;

  @each $color, $value in $colors {
    &.-#{$color} {
      background-color: $value;
      .section-content {
        color: color(white);
        background-color: $value;

        .section-elbow svg {
          fill: $value;
        }
      }
    }
  }

  // Teal Background sections get blue-dark text
  &.-teal {
    .section-content {
      color: color(blue-dark);
    }
  }

  .section-background {
    bottom: 0;
    width: 100%;
    height: 230px;
    position: absolute;
    background-size: cover;
  }

  .section-content {
    .block-title {
      @include h2;
    }
  }

  .section-elbow {
    display: none;
  }

  @include media-md {
    > .-inner {
      margin: 0 auto;
      padding: 0 $padding-md;
      max-width: $sitewrapper;
    }

    .section-background {
      top: 0;
      right: 0;
      height: 100%;
      width: columns(1,2);
      background-position: center center;
    }

    .section-content {
      position: relative;
      max-width: columns(1,2);
      flex-basis: columns(1,2);
      padding: $padding-lg #{columns(2.25,23)} $padding-lg #{columns(2,23)};

      > * {
        z-index: 1;
        position: relative;
      }

      .section-elbow {
        top: 0;
        left: 100%;
        height: 100%;
        display: block;
        position: absolute;
        .elbow {
          top: 0;
          left: 100%;
          height: 100%;
          position: absolute;
        }
      }

      p {
        margin: 0;
      }

      .block-cta {
        margin-top: 100px;
      }
    }

    // Top and bottom sections
    &.-top,
    &.-bottom {
      .section-background {
        left: 0;
      }
      .-inner {
        flex-direction: row-reverse;
      }
      .section-content {
        padding-right: columns(2,23);
        padding-left: columns(2.25,23);
      }
      .section-content::after {
        top: 0;
        content: '';
        right: 100%;
        width: 400%;
        height: 100%;
        position: absolute;
        background-color: inherit;
      }
    }

    // Top
    &.-top {
      .section-content::after {
        transform: rotate(55deg);
        transform-origin: bottom right;
      }
    }
    // Bottom
    &.-bottom {
      .section-content::after {
        transform: rotate(-55deg);
        transform-origin: top right;
      }
    }
  }
}