// Sections

// The `section` class is inteded for distinct sections on the page,
// as apposed to `-block` classes that are used for individual modules
.section {
  position: relative;

  // Different padding variations
  &.padded {
    padding-top: $padding-sm;
    padding-bottom: $padding-sm;
  }
  &.padded-top {
    padding-top: $padding-sm;
  }
  &.padded-bottom {
    padding-bottom: $padding-sm;
  }

  // Sections with just a subtitle
  &.title-section {
    padding: $padding-sm 0;
    .section-label {
      margin: 0;
    }
  }

  @include media-md {
    &.padded {
      padding-top: $padding-md;
      padding-bottom: $padding-md;
    }
    &.padded-top {
      padding-top: $padding-md;
    }
    &.padded-bottom {
      padding-bottom: $padding-md;
    }

    &.title-section {
      padding: $padding-md 0;
    }
  }
}

// Section Label
.section-label {
  @include h3;
  margin: 0 0 24px;
  color: color(gray-mid);

  @include media-md {
    margin-bottom: 42px;
  }
}

// Showcase sections
.showcase-section {
  overflow: hidden;
  position: relative;
  padding: $padding-md $padding-sm 228px;

  @each $color, $value in $colors {
    &.-#{$color} {
      background-color: $value;

      .section-background::before {
        background-image: linear-gradient(to right bottom, $value 0%, $value 50%, transparent 50%);
      }

      .section-content {
        color: color(white);
        background-color: $value;

        .section-elbow svg {
          fill: $value;
        }
      }

      // -middle showcase sections
      &.-middle {
        .section-background::before {
          background-image: linear-gradient(to left bottom, $value 0%, $value 50%, transparent 50%);
        }
      }
    }
  }

  // Teal Background sections get blue-dark text
  &.-teal {
    .section-content {
      color: color(blue-dark);
    }
  }
  // Gold, and Blue Background sections get Ginto Normal Light for text
  &.-gold,
  &.-blue-sky,
  &.-blue-dark {
    .section-content p {
      @include ginto-normal-light;
    }
  }
  // Dark Blue sections get gold buttons
  &.-blue-dark {
    .block-cta .button {
      @extend .-gold;
    }
  }

  .section-background {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 230px;
    position: absolute;
    background-size: cover;
    &::before {
      top: 0;
      left: 0;
      width: 100%;
      content: '';
      bottom: 50px;
      position: absolute;
    }
  }

  .section-content {
    z-index: 1;
    position: relative;
    text-align: center;

    .block-title {
      @include h2;
    }

    .block-cta {
      margin: 42px 0 -42px;
    }
  }

  .section-elbow {
    display: none;
  }

  @include media-md {
    padding: 0;

    > .-inner {
      margin: 0 auto;
      padding: 0 $padding-md;
      max-width: $sitewrapper;
    }

    .section-background {
      top: 0;
      right: 0;
      left: auto;
      height: 100%;
      width: columns(1,2);
      background-position: center center;
      &::before {
        display: none;
      }
    }

    .section-content {
      text-align: left;
      position: relative;
      max-width: columns(1,2);
      flex-basis: columns(1,2);
      padding: 180px #{columns(2.25,23)} 180px #{columns(2,23)};

      > * {
        z-index: 1;
        position: relative;
      }

      .section-elbow {
        top: 0;
        left: 100%;
        height: 100%;
        display: block;
        position: absolute;
        .elbow {
          top: 0;
          left: 100%;
          height: 100%;
          position: absolute;
        }
      }

      .block-title {
        margin-bottom: 45px;
      }

      p {
        margin: 0;
      }

      .block-cta {
        margin: 100px 0 0;
      }
    }

    // Top and bottom sections
    &.-top,
    &.-bottom {
      .section-background {
        left: 0;
      }
      .-inner {
        flex-direction: row-reverse;
      }
      .section-content {
        padding-right: columns(2,23);
        padding-left: columns(2.25,23);
      }
      .section-content::after {
        top: 0;
        content: '';
        right: 100%;
        width: 400%;
        height: 100%;
        position: absolute;
        background-color: inherit;
      }
    }

    // Regular Page Showcase Section
    &:not(.-top):not(.-middle):not(.-bottom):not(.page-header) {
      .section-content::after {
        bottom: 0;
        left: 100%;
        content: '';
        width: 400%;
        height: 100%;
        position: absolute;
        background-color: inherit;
        transform: rotate(-55deg);
        transform-origin: bottom left;
      }
    }

    // Top
    &.-top {
      .section-content::after {
        transform: rotate(55deg);
        transform-origin: bottom right;
      }
    }
    // Bottom
    &.-bottom {
      .section-content::after {
        transform: rotate(-55deg);
        transform-origin: top right;
      }
    }
  }
}