// User-content
//
// Class applied to content areas that will likely be added
// via the rich text editor, and therefore open to a large
// array of markup — post content as an example

.user-content {

  h1, h2 {
    @include h2;
    margin: 76px 0 20px;

    &:not[class*='color-'] {
      color: color(blue-light);
    }

    @include media-md {
      @include paragraph-style(36, 42);
    }
  }

  h3, h4, h5, h6 {
    @include h3-simple;
    margin-bottom: 12px;

    &:not[class*='color-'] {
      color: color(blue-light);
    }
  }

  a:not(.button) {
    color: color(blue-light);
    &:hover,
    &:focus {
      color: color(blue);
    }
    &:visited {
      color: color(gray-dark);
    }
  }

  p {
    margin: 0 0 24px;
  }

  ul,
  ol {
    padding: 0;
  }

  ul {
    @include list-style;
  }

  blockquote {
    padding: 0;
    margin: $padding-md 0;

    &::before {
      content: '“';
      display: block;
      @include font-display;
      color: color(blue-light);
      margin-bottom: -$padding-sm;
      @include paragraph-style(90, 90);
    }

    p {
      margin: 0;
      padding: 0;
      @include h2;
    }

    @include media-md {
      margin: $padding-lg 0;
    }
  }

  figure {
    display: table;
    max-width: 1020px;
    margin: $padding-md 0;

    img {
      max-width: 100%;
      display: inline-block;
    }

    figcaption {
      margin-top: 34px;
      @include h3-simple;
      caption-side: bottom;
      display: table-caption;
      color: color(gray-dark);
      padding-right: columns(4,17);
    }

    @include media-md {
      margin: 90px 0 100px;
    }
  }

  // Video Embeds
  .fluid-width-video-wrapper {
    max-width: 1020px;
    margin: $padding-md 0;

    @include media-md {
      margin: 90px 0 100px;
    }
  }
}