// Fee Calculator Page

.fee {
  margin-bottom: $padding-md;

  > .-inner {
    border-radius: 24px;
    padding: $padding-sm;
    background-color: color(gray-light);

    @include media-md {
      padding: $padding-md;
    }
  }

  .fee-title {
    margin: 0;
    @include h2-small;
    text-align: center;
  }

  .fee-price {
    line-height: 1;
    font-size: 76px;
    text-align: center;
    font-weight: normal;
    margin: 24px 0 $padding-sm;
    @include media-md {
      margin: $padding-sm 0 $padding-md;
    }
  }

  .accordion {
    border-top: 1px solid color(gray);
    .accordion-toggle {
      @extend .button-reset;
      @include h3-simple;
      width: 100%;
      text-align: left;
      color: color(blue-light);
      text-decoration: underline;
    }
    .accordion-content {
      margin: 0;
      padding-bottom: 0;
    }
  }
}

// Most Requested Expert Witness Fees Carousel
.most-requested-fees-carousel {
  .carousel-status {
    text-align: center;
    color: color(blue-light);
    margin-bottom: $padding-sm;

    @include media-md {
      margin-bottom: $padding-md;
    }
  }

  .carousel-item {
    opacity: 0;
    width: 100%;
    transition: opacity .75s ease-out;
    &.is-selected {
      opacity: 1;
      transition: opacity .75s .25s ease-out;
    }

    .slide-text {
      margin: 0 auto;
      max-width: 660px;
      text-align: center;

      h2 {
        margin: 0;
        @include h1;
      }

      p {
        text-align: center;
        color: color(gray-dark);
      }
    }

    .table-container {
      overflow: hidden;
      position: relative;
      border-radius: 24px;
      padding: $padding-sm 0;
      margin-top: $padding-md;
      background-color: color(gray-light);
      &::before,
      &::after {
        top: 0;
        bottom: 0;
        z-index: 1;
        content: '';
        width: $padding-sm;
        position: absolute;
      }
      &::before {
        left: 0;
        background-image: linear-gradient(to right, color(gray-light), rgba(color(gray-light),0));
      }
      &::after {
        right: 0;
        background-image: linear-gradient(to left, color(gray-light), rgba(color(gray-light),0));
      }

      .table-overflow {
        overflow: auto;
      }

      @include media-md {
        padding: $padding-md $padding-sm;
      }
    }

    table {
      width: 100%;
      border-spacing: $padding-sm 0;

      th {
        @include p2;
        text-align: left;
        vertical-align: top;
        padding-bottom: 12px;
      }

      th, td {
        border-spacing: 12px;
        border-bottom: 1px solid color(gray);
      }

      td {
        padding: 10px 0;
      }

      @include media-md {
        th {
          font-size: 30px;
          line-height: 36px;
        }
      }
    }

    .slide-cta {
      padding: 42px 0;
      text-align: center;
    }
  }
}