// Home page

body.home {

  .page-header {
    padding: $padding-sm 0 230px;

    > .-inner {
      position: relative;
    }

    .section-content {
      text-align: left;
      padding: $padding-sm $padding-sm 0;
    }

    .section-background {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 230px;
      position: absolute;
      background-position: center right;
      &::before {
        top: 0;
        left: 0;
        width: 100%;
        content: '';
        bottom: 50px;
        position: absolute;
        background-image: linear-gradient(to right bottom, color(blue-dark) 0%, color(blue-dark) 50%, transparent 50%);
      }
    }

    .block-cta {
      margin: 0 0 -42px;

      .button {
        color: color(blue);
        &.-hover,
        &:hover,
        &:focus {
          color: color(teal);
        }
      }
    }

    @include media-md {
      padding: 0;

      > .-inner {
        flex-direction: row-reverse;
      }

      .section-background {
        height: 100%;
        width: columns(14,23);
        &::before {
          display: none;
        }
      }

      .section-content {
        padding: 222px 0 168px;
        max-width: columns(9,23);
        flex-basis: columns(9,23);

        .section-elbow {
          &,
          .elbow {
            left: auto;
            right: 100%;
          }
        }
      }

      .block-title {
        margin-bottom: 84px;
      }

      .block-cta {
        margin-bottom: 0;
      }
    }

    @include media-nav {
      > .-inner {
        padding: 0 $padding-lg;
      }
    }
  }

  .search-section {
    padding-top: $padding-sm;

    .section-content {
      .section-cta {
        text-align: center;
      }
    }

    .search-list {
      margin-bottom: 90px;
      @extend .semantic-list;

      li {
        display: flex;
        flex-wrap: wrap;
        margin-top: 84px;
        align-items: flex-end;
      }

      .icon {
        width: 100%;
        max-width: 146px;

        .blue-stroke,
        .gold-stroke {
          fill: none;
          stroke-width: 1.5;
          stroke-miterlimit: 10;
        }

        .blue-stroke {
          stroke: color(blue-dark);
        }

        .gold-stroke {
          stroke: color(gold);
        }

        .blue-fill {
          fill: color(blue-dark);
        }

        .gold-fill {
          fill: color(gold);
        }

        &.search-search {
          #open {
            animation: search-search-open 4s steps(50) infinite;
          }

          #mid {
            animation: search-search-mid 4s steps(50) infinite;
          }

          #closed {
            animation: search-search-closed 4s steps(50) infinite;
          }
        }

        &.search-select {
          #left {
            animation: search-select-left 6s forwards infinite;
          }
          #middle {
            animation: search-select-middle 6s forwards infinite;
          }
          #right {
            animation: search-select-right 6s forwards infinite;
          }
        }

        &.search-retain {
          .short {
            stroke-dasharray: 12;
            stroke-dashoffset: 12;
            animation: search-retain-short 6s 1s linear infinite;
          }
          .medium {
            stroke-dasharray: 25;
            stroke-dashoffset: 25;
            animation: search-retain-medium 6s 1.15s linear infinite;
          }
          .long {
            stroke-dasharray: 26;
            stroke-dashoffset: 26;
            animation: search-retain-long 6s 1.45s linear infinite;
          }
          .longest {
            stroke-dasharray: 30;
            stroke-dashoffset: 30;
            animation: search-retain-longest 6s 1.3s linear infinite;
          }
        }
      }

      .number, h4 {
        @include h2;
      }

      .number {
        color: color(gold);
        display: inline-block;
        min-width: columns(1,11);
        flex-basis: columns(1,11);
        margin-left: columns(1,11);
      }

      h4 {
        margin: 0;
      }

      p {
        margin: 10px 0 0;
      }
    }

    @include media-md {
      padding: 0;
      overflow: hidden;

      .section-background {
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        position: absolute;
        width: columns(11,23);
        background-size: cover;
        background-position: right top;
      }

      .section-label {
        top: 0;
        z-index: 1;
        width: auto;
        margin: 96px 0 0;
        left: $padding-lg;
        right: $padding-lg;
        position: absolute;
      }

      .section-content {
        position: relative;
        max-width: columns(14,23);
        flex-basis: columns(14,23);
        padding: 268px columns(3,23) 210px 0;
        &::before {
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 0;
          width: 100%;
          content: '';
          position: absolute;
          background-color: color(white);
        }
        &::after {
          top: 0;
          right: 0;
          content: "";
          height: 100%;
          width: 2000px;
          position: absolute;
          transform-origin: top right;
          background-color: color(white);
          transform: rotate(55deg) translateX(100%);
        }

        > * {
          z-index: 1;
          position: relative;
        }

        .section-cta {
          margin: 0;
          left: 100%;
          bottom: 210px;
          text-align: left;
          position: absolute;

          a {
            white-space: nowrap;
          }
        }
      }

      .search-list {
        margin-bottom: 0;

        li {
          margin-top: 0;
          position: relative;
          align-items: flex-start;
          + li {
            margin-top: 90px;
          }
        }

        .icon {
          left: 0;
          top: -16px;
          position: absolute;
          max-width: columns(2,11);
          flex-basis: columns(2,11);
        }

        .number {
          margin-left: columns(3,11);
        }

        .number,
        h4 {
          @include paragraph-style(36, 42);
        }

        h4,
        p {
          max-width: columns(7,11);
          flex-basis: columns(7,11);
        }

        p {
          margin: 14px 0 0 columns(4,11);
        }
      }
    }
  }

  .showcase-section.-bottom {
    @include media-md {
      overflow: visible;

      .overflow-wrap {
        overflow: hidden;
      }

      .after-shape {
        top: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        position: absolute;
        &::before {
          top: 0;
          left: 50%;
          z-index: 1;
          width: 88%;
          content: "";
          height: 400%;
          position: absolute;
          transform-origin: top left;
          background-color: color(gray);
          transform: rotate(35deg) translate(-100%, 30%);
        }
      }

    }
  }

  .expert-directory-section {

    .section-label {
      margin-bottom: 0;
    }

    .section-content {
      padding: $padding-sm 0 96px;
    }

    .section-text {
      margin-bottom: 42px;

      p {
        margin: 0;

        + p {
          margin-top: $padding-sm;
        }
      }
    }

    form.expert-search {
      display: flex;

      + form.expert-search {
        margin-top: $padding-sm;
      }

      .select-wrap {
        flex-grow: 1;
      }

      button {
        margin-left: $padding-sm;
      }
    }

    @include media-md {

      .section-content {
        padding: 102px 0 186px;

        > .col-md-1-2 {
          padding-right: columns(1.5,23);

          &:last-of-type {
            padding-right: 0;
            padding-left: columns(1.5,23);
          }
        }
      }

      .section-text {
        @include font-display;
        @include paragraph-style(36,42);

        p + p {
          margin-top: 48px;
        }
      }

      form.expert-search {
        flex-wrap: wrap;

        .select-wrap {
          flex-basis: 100%;
        }

        + form.expert-search {
          margin-top: 48px;
        }

        button {
          margin-left: 0;
          margin-top: $padding-sm;
        }
      }
    }

    @include media-lg {
      form.expert-search {
        .select-wrap {
          flex-basis: auto;
        }

        button {
          margin-top: 0;
          margin-left: $padding-md;
        }
      }
    }
  }
}