// Home page

body.home {

  .intro-section {
    padding-bottom: 230px;

    > .-inner {
      position: relative;
    }

    .section-content {
      padding: $padding-sm $padding-sm 0;
    }

    .section-background {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 230px;
      position: absolute;
      background-position: center right;
      &::before {
        top: 0;
        left: 0;
        width: 100%;
        content: '';
        bottom: 50px;
        position: absolute;
        background-image: linear-gradient(to right bottom, color(blue-dark) 0%, color(blue-dark) 50%, transparent 50%);
      }
    }

    .block-cta {
      margin: 0 0 -42px;

      .button {
        color: color(blue);
        &.-hover,
        &:hover,
        &:focus {
          color: color(teal);
        }
      }
    }

    @include media-md {
      padding-bottom: 0;

      > .-inner {
        flex-direction: row-reverse;
      }

      .section-background {
        height: 100%;
        width: columns(14,23);
        &::before {
          display: none;
        }
      }

      .section-content {
        padding: 228px 0 168px;
        max-width: columns(9,23);
        flex-basis: columns(9,23);

        .section-elbow {
          &,
          .elbow {
            left: auto;
            right: 100%;
          }
        }
      }
    }

    @include media-nav {
      > .-inner {
        padding: 0 $padding-lg;
      }
    }
  }

  .search-section {
    padding-top: $padding-sm;

    .section-content {
      .section-cta {
        text-align: center;
      }
    }

    .search-list {
      margin-bottom: 90px;
      @extend .semantic-list;

      li {
        display: flex;
        flex-wrap: wrap;
        margin-top: 84px;
        align-items: flex-end;
      }

      .icon {
        max-width: 146px;
      }

      .number, h4 {
        @include h2;
      }

      .number {
        color: color(gold);
        display: inline-block;
        min-width: columns(1,11);
        flex-basis: columns(1,11);
        margin-left: columns(1,11);
      }

      h4 {
        margin: 0;
      }

      p {
        margin: 10px 0 0;
      }
    }

    @include media-md {
      padding: 0;
      overflow: hidden;

      .section-background {
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        position: absolute;
        width: columns(11,23);
        background-size: cover;
        background-position: right top;
      }

      .section-label {
        top: 0;
        z-index: 1;
        width: auto;
        margin: 96px 0 0;
        left: $padding-lg;
        right: $padding-lg;
        position: absolute;
      }

      .section-content {
        position: relative;
        max-width: columns(14,23);
        flex-basis: columns(14,23);
        padding: 268px columns(3,23) 210px 0;
        &::before {
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 0;
          width: 100%;
          content: '';
          position: absolute;
          background-color: color(white);
        }
        &::after {
          top: 0;
          right: 0;
          content: "";
          height: 100%;
          width: 2000px;
          position: absolute;
          transform-origin: top right;
          background-color: color(white);
          transform: rotate(55deg) translateX(100%);
        }

        > * {
          z-index: 1;
          position: relative;
        }

        .search-list {

        }

        .section-cta {
          margin: 0;
          left: 100%;
          bottom: 210px;
          text-align: left;
          position: absolute;

          a {
            white-space: nowrap;
          }
        }
      }

      .search-list {
        margin-bottom: 0;

        li {
          margin-top: 0;
          position: relative;
          align-items: flex-start;
          + li {
            margin-top: 84px;
          }
        }

        .icon {
          top: 0;
          left: 0;
          position: absolute;
          max-width: columns(2,11);
          flex-basis: columns(2,11);
        }

        .number {
          margin-left: columns(3,11);
        }

        .number,
        h4 {
          @include paragraph-style(36, 42);
        }

        h4,
        p {
          max-width: columns(7,11);
          flex-basis: columns(7,11);
        }

        p {
          margin: 14px 0 0 columns(4,11);
        }
      }
    }
  }
}