// Single Post
//
// This template is shared between single blog posts and bio posts

body.single-post,
body.single-bio {
  max-width: 100%;
  overflow-x: hidden;

  .post-content {
    // User content styles defined in /components/_user-contnet.scss
    @extend .user-content;

    @include media-lg {
      min-width: 600px;
      max-width: 1020px;

      > {
        p, ul, h1, h2, h3, h4, h5, h6 {
          padding-right: columns(4,17);
        }
      }
    }
  }

  // Post Carousels
  .post-carousel {
    margin: $padding-md 0;

    + .post-content {
      z-index: 1;
      position: relative;
    }

    .flickity-viewport {
      height: 0;
      opacity: 0;
      overflow: visible;
      padding-bottom: 66.6666%;
      transition: height .2s ease-out, opacity .4s ease-out;
    }

    &.layout-ready {
      .flickity-viewport {
        opacity: 1;
        padding-bottom: 0;
      }
    }

    figure {
      width: 100%;
      display: table;
      margin: 0 #{$padding-sm / 4};

      &.portrait,
      &.square {
        .image {
          position: relative;
          &::after {
            left: 0;
            bottom: 0;
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            pointer-events: none;
            transition: opacity .2s ease-out;
            background-position: 0 0;
          }
        }
      }

      &.portrait .image::after {
        background-image: linear-gradient(to top, color(white) 50%, rgba(color(white),0) 60%, rgba(color(white),0));
      }
      &.square .image::after {
        background-image: linear-gradient(to top, color(white) 33%, rgba(color(white),0) 43%, rgba(color(white),0));
      }

      .image {
        min-width: 100%;
        max-width: 1020px;
      }

      img {
        max-width: 100%;
        vertical-align: top;
        display: inline-block;
      }

      figcaption {
        opacity: 0;
        margin-top: 34px;
        max-width: 1020px;
        @include h3-simple;
        caption-side: bottom;
        display: table-caption;
        color: color(gray-dark);
        transition: opacity .2s ease-out;
      }

      &.is-selected {
        .image {
          height: auto;
          overflow: visible;
          padding-bottom: 0;

          &::after {
            opacity: 0;
          }
        }
        figcaption {
          opacity: 1;
        }
      }
    }

    @include media-md {
      margin: 90px 0 100px;

      figure {
        width: auto;
        margin: 0 columns(.5,27);

        &.landscape {
          width: 100%;
          .image {
            padding-bottom: 66.6666%;
          }
        }

        &.portrait {
          width: 50%;
          .image {
            padding-bottom: 133.3333%;
            &::after {
              display: none;
            }
          }
        }

        &.square {
          width: 66.6666%;
          .image {
            padding-bottom: 100%;
            &::after {
              display: none;
            }
          }
        }

        .image {
          min-width: 1px;
        }

        img {
          top: 0;
          left: 0;
          width: 100%;
          position: absolute;
        }
      }
    }
  }
}

// Single Bio Content
body.single-bio {
  .page-header.swooped .header-text {
    .header-meta {
      display: block;
    }
    .title {
      margin-bottom: $padding-sm;

      @include media-md {
        margin-bottom: $padding-lg;
      }
    }
  }

  .page-header.angled .header-text {
    .header-meta {
      display: block;
    }
  }

  .bio-meta {
    padding: 0;
    margin-top: 0;
    list-style: none;

    > li {
      padding-right: $padding-sm;
      margin-bottom: $padding-sm;

      a {
        &:hover,
        &:focus {
          color: color(blue-light);
        }
        &:visited {
          color: color(gray-dark);
        }
      }
    }

    .label {
      margin: 0;
      @include h3-simple;
      color: color(gray-dark);
    }

    .value {
      margin: 0;
      @include p1;
      @extend .semantic-list;
    }

    @include media-md {
      padding-bottom: 72px;

      > li {
        margin-bottom: 45px;
      }
    }
  }

  .post-content {
    .tags {
      margin-top: $padding-sm;

      h3 {
        color: color(gray-dark);
      }

      ul {
        @extend .semantic-list;
        li::before {
          display: none;
        }

        a {
          @include h3-simple;
          color: color(blue-light);
        }
      }
    }

    .cta {
      margin-top: $padding-md;

      @include media-md {
        margin-top: $padding-lg;
      }
    }
  }
}

// Single Expert Bio
body.single-expert-bio {
  .page-header {
    .header-background {
      background-color: color(gray-light);
    }

    .profile-image {
      top: 20px;
      left: 50%;
      z-index: 2;
      width: 180px;
      height: 180px;
      position: absolute;
      border-radius: 50%;
      background-size: cover;
      transform: translateX(-50%);
    }

    .after-shape::before {
      background-color: color(gray-light);
    }

    @include media-md {
      .profile-image {
        height: 0;
        top: 162px;
        transform: none;
        left: columns(13,23);
        width: columns(6,23);
        padding-bottom: columns(6,23);
      }

      .header-text {
        padding-bottom: $padding-lg;
      }
    }
  }

  .post-content {
    @include media-lg {
      >,
      .bio-snapshot > {
        p, ul, h1, h2, h3, h4, h5, h6 {
          padding-right: columns(11,23);
        }
      }
    }
  }

  .bio-snapshot {
    margin-top: $padding-sm;

    h3 {
      color: color(gray-dark);

    }
    ul {
      @extend .semantic-list;

      li {
        + li {
          margin-top: .5em;
        }
        &::before {
          display: none;
        }
      }
    }

    @include media-md {
      margin-top: $padding-md;
    }
  }
}