// Single Post
//
// This template is shared between single blog posts and bio posts

body.single-post,
body.single-bio {
  max-width: 100%;
  overflow-x: hidden;

  @include media-md {
    .page-header.swooped {
      &,
      &.-right {
        .header-text {
          min-height: 0;
          padding-bottom: 0;
        }
      }
    }
  }

  .post-content {
    // User content styles defined in /components/_user-contnet.scss
    @extend .user-content;

    @include media-lg {
      min-width: 600px;
      max-width: 1020px;

      > {
        p, ul, h1, h2, h3, h4, h5, h6 {
          padding-right: columns(4,17);
        }
      }
    }
  }
}

// Single Bio Content
body.single-bio {
  .page-header.swooped .header-text {
    .header-meta {
      display: block;
    }
    .title {
      margin-bottom: $padding-sm;

      @include media-md {
        margin-bottom: $padding-lg;
      }
    }
  }

  .page-header.angled .header-text {
    .header-meta {
      display: block;
    }
  }

  .bio-meta {
    padding: 0;
    margin-top: 0;
    list-style: none;

    > li {
      padding-right: $padding-sm;
      margin-bottom: $padding-sm;

      a {
        &:hover,
        &:focus {
          color: color(blue-light);
        }
        &:visited {
          color: color(gray-dark);
        }
      }
    }

    .label {
      margin: 0;
      @include h3-simple;
      color: color(gray-dark);
    }

    .value {
      margin: 0;
      @include p1;
      @extend .semantic-list;
    }

    @include media-md {
      padding-bottom: 72px;

      > li {
        margin-bottom: 45px;
      }
    }
  }

  .post-content {
    .tags {
      margin-top: $padding-sm;

      h3 {
        color: color(gray-dark);
      }

      ul {
        @extend .semantic-list;
        li::before {
          display: none;
        }

        a {
          @include h3-simple;
          color: color(blue-light);
        }
      }
    }

    .cta {
      margin-top: $padding-md;

      @include media-md {
        margin-top: $padding-lg;
      }
    }
  }
}

// Single Expert Bio
body.single-expert-bio {
  .page-header {
    .header-background {
      background-color: color(gray-light);
    }

    .profile-image {
      top: 20px;
      left: 50%;
      z-index: 2;
      width: 180px;
      height: 180px;
      position: absolute;
      border-radius: 50%;
      background-size: cover;
      transform: translateX(-50%);
    }

    .after-shape::before {
      background-color: color(gray-light);
    }

    @include media-md {
      .profile-image {
        height: 0;
        top: 162px;
        transform: none;
        left: columns(13,23);
        width: columns(6,23);
        padding-bottom: columns(6,23);
      }

      .header-text {
        padding-bottom: $padding-lg;
      }
    }
  }

  .post-content {
    @include media-lg {
      >,
      .bio-snapshot > {
        p, ul, h1, h2, h3, h4, h5, h6 {
          padding-right: columns(11,23);
        }
      }
    }
  }

  .bio-snapshot {
    margin-top: $padding-sm;

    h3 {
      color: color(gray-dark);

    }
    ul {
      @extend .semantic-list;

      li {
        + li {
          margin-top: .5em;
        }
        &::before {
          display: none;
        }
      }
    }

    @include media-md {
      margin-top: $padding-md;
    }
  }
}