---
layout: default
bodyClasses: single-bio
---

<div class="page-header swooped parallax-image-container -right">
  <div class="header-background parallax-image" style="background-image:url('{{ page.imageUrl }}');"></div>
  <div class="site-wrapper grid">
    <div class="header-swoop">
      <svg class="swoop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 673.8 756"><path d="M673.8 756H0c87.7 0 169.9-42.6 220.5-114.2L673.8 0v756z"/></svg>
    </div>
    <div class="header-text">
      <div class="-inner">
        <header>
          <div class="header-meta">
            <a href="/about/our-team">Team</a> / <a href="/about/our-team/#{{ page.team | downcase | url_encode }}">{{ page.team }}</a>
          </div>
          <h1 class="title">{{ page.nameFirst }}<br> {{ page.nameLast }}</h1>
          <ul class="bio-meta grid spaced">
            {% if page.title %}
              <li class="work-title col-md-1-2">
                <h6 class="label">Title</h6>
                <h6 class="value">{{ page.title }}</h6>
              </li>
            {% endif %}
            {% if page.education %}
              <li class="education col-md-1-2">
                <h6 class="label">Education</h6>
                <h6 class="value">{{ page.education }}</h6>
              </li>
            {% endif %}
            {% if page.categories %}
              <li class="team col-md-1-2">
                <h6 class="label">Team</h6>
                <h6 class="value">{{ page.team }}</h6>
              </li>
            {% endif %}
            {% if page.email %}
              <li class="email col-md-1-2">
                <h6 class="label">Email</h6>
                <a href="mailto:{{ page.email }}" class="value">{{ page.email }}</a>
              </li>
            {% endif %}
            {% if page.social %}
              <li class="social col-md-1-2">
                <h6 class="label">Social</h6>
                <ul class="value">
                  {% for network in page.social %}
                    <li><a href="{{ network.url }}">{{ network.label }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
            {% if page.phone %}
              <li class="phone col-md-1-2">
                <h6 class="label">Phone</h6>
                <h6 class="value">{{ page.phone }}</h6>
              </li>
            {% endif %}
          </ul>
        </header>
      </div>
    </div>
  </div>
</div>

<div class="section padded-bottom site-wrapper">
  <div class="post-content">
    {{ content }}
  </div>
</div>

<div class="section padded-bottom-lg site-wrapper">
  <p class="cta"><a href="/about/our-team" class="button">Back to Team</a></p>
</div>