---
layout: default
bodyClasses: single-bio single-expert-bio
---

<div class="page-header angled -right">
  <div class="profile-image" style="background-image:url('{{ page.imagePath }}');"></div>
  <div class="overflow-wrap">
    <div class="header-background"></div>
    <div class="site-wrapper grid">
      <div class="header-text">
        <div class="-inner">
          <header>
            <div class="header-meta">
              <a href="/resources/expert-witness-directory">Directory Search</a> / Expert ID: #{{ page.expertId }} State: {{ page.stateAbbr }}
            </div>
            <h1 class="title">{{ page.headline }}</h1>
          </header>
        </div>
      </div>
    </div>
  </div>
  <div class="after-shape"></div>
</div>

<div class="section padded-bottom site-wrapper">
  <div class="post-content">
    <h3 class="color-gray-dark">Expert Qualifications</h3>
    {{ content }}

    {% ifhascontent biosnapshot %}
      <div class="bio-snapshot">
        <h3>Bio Snapshot</h3>
        {% contentblock biosnapshot %}
      </div>
    {% endifhascontent %}

    <p class="cta"><a href="#" class="modal-open button">Contact this Expert Witness</a></p>

    <div class="tags">
      <h3>Expert Tags</h3>
      <ul>
        {% for specialty in page.specialties %}
          <li><a href="#">{{ specialty | capitalize }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="section padded site-wrapper">
  <h3 class="section-label margin-bottom-md">Related Experts</h3>
  <div class="card-grid">
    {% assign experts = site.experts | sample:3 %}
    {% for expert in experts %}
        {% include expert-card.html %}
    {% endfor %}
  </div>
</div>

<div id="contact-expert-modal" class="contact-expert-modal modal">
  <div class="site-wrapper">
    <div class="modal-inner">
      <button class="modal-close"><svg class="icon icon-close" aria-hidden="true" role="presentation"><use xlink:href="#icon-close"/></svg></button>
      <div class="expert-bio">
        <p class="expert-meta">
          <span class="id">Expert ID: #{{ page.expertId }}</span> <span class="state">State: {{ page.stateAbbr }}</span>
        </p>
        <h2 class="title">{{ page.headline }}</h2>
        <div class="bio-image"><div style="background-image:url('{{ page.imagePath }}');"></div></div>
        <div class="message-copy -medium">
          <p>Send a message to this expert and get started right away.</p>
          <p>There’s no risk or obligation to submit a request. Questions?<br> Call us at (888)-858-9511</p>
        </div>
      </div>
      <div class="contact-form">
        <form id="contact-an-expert" action="#">
          <div class="input-wrap">
            <label for="nameFirst">First Name</label>
            <input type="text" id="nameFirst" name="nameFirst">
          </div>
          <div class="input-wrap">
            <label for="nameLast">Last Name</label>
            <input type="text" id="nameLast" name="nameLast">
          </div>
          <div class="input-wrap">
            <label for="email">Email *</label>
            <input type="email" id="email" name="email" required>
          </div>
          <div class="input-wrap">
            <label for="phoneWork">Work Phone</label>
            <input type="tel" id="phoneWork" name="phoneWork">
          </div>
          <div class="input-wrap">
            <label for="lawfirm">Law Firm</label>
            <input type="text" id="lawfirm" name="lawfirm">
          </div>
          <div class="input-wrap">
            <label for="description">Tell this expert about your case</label>
            <textarea name="description" id="description" rows="1"></textarea>
          </div>

          <p class="cta align-center">
            <button class="submit button" type="submit">Contact this Expert Witness</button>
          </p>
        </form>

        <div class="message-copy -small" aria-hidden="true">
          <p>Send a message to this expert and get started right away.</p>
          <p>There’s no risk or obligation to submit a request. Questions?<br> Call us at (888)-858-9511</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section padded-bottom site-wrapper">
  <p class="align-center"><a href="/resources/expert-witness-directory" class="button">New Search</a></p>
</div>