---
layout: default
bodyClasses: single-post
---

<div class="page-header swooped -right">
    <div class="header-background" style="background-image:url('{{ page.imageUrl }}');"></div>
    <div class="site-wrapper grid">
        <div class="header-swoop">
            <svg class="swoop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 673.8 756"><path d="M673.8 756H0c87.7 0 169.9-42.6 220.5-114.2L673.8 0v756z"/></svg>
        </div>
        <div class="header-text">
          <div class="-inner">
              <header>
                  <div class="header-meta">
                      <h5 class="date">{{ page.date | date: "%B %d, %Y" }}</h5>
                      <h5 class="tag"><a href="#">{{ page.categories[0] }}</a></h5>
                  </div>
                  <h1 class="title">{{ page.title }}</h1>
                  <div class="author">
                    <div class="author-photo"><img src="/dist/images/avatar.jpg" alt="Portrait of Terry Garmey"></div>
                    <div class="author-text">
                      <h5 class="author-label">Author:</h5>
                      <h4 class="author-name"><a href="#">Dani Alexis Ryskamp</a></h4>
                    </div>
                  </div>
              </header>
          </div>
        </div>
    </div>
</div>

<div class="section padded-bottom site-wrapper">
  {{ content }}
</div>

<div class="section padded related-posts">
  <div class="site-wrapper">
    <h3 class="section-label">Related Posts</h3>
    <div class="card-grid">
      {% for post in site.categories.news limit:2 %}
        <article class="card col-lg-1-2{% if post.imageUrl %} with-image{% endif %}">
          <div class="-inner">
            <header class="card-header">
              <div class="header-meta">
                <h5 class="date">{{ post.date | date: "%B %d, %Y" }}</h5>
                <h5 class="tag"><a href="#">{{ post.categories[0] }}</a></h5>
              </div>
              <h1 class="card-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
            </header>
            <div class="card-body">
              <div class="card-text">
                  <p>{{ post.postExcerpt | truncate: 160 }}</p>
              </div>
            </div>
            <div class="card-cta">
              <a href="{{ post.url }}" class="button hollow -gray-mid">Read More</a>
            </div>
            {% if post.imageUrl %}
              <div class="card-image">
                <div class="image" style="background-image:url('{{ post.imageUrl }}');"></div>
              </div>
            {% endif %}
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
</div>